/*------------------------------------------------------------
btn
------------------------------------------------------------*/

/*
------------------------------------------------------------*/

.c-btn1{
    background-color: #00634B;
    display: flex;
    text-decoration: none;
    /*-----------------------------------------------------*/
    img{
        width: 24px;
        height: 20px;
        position: relative;
        top: 8px;
        right: 5px;
    }
    /*-----------------------------------------------------*/
    p{
        @include styleText(white,22px);
    }
}