/*------------------------------------------------------------
title
------------------------------------------------------------*/

/*-----------------------------------------------------*/

.c-title {
    position: relative;
    z-index: 1;
    p {
        @include styleText(black, 29px);
        font-weight: bold;
        background-color: #FAF2E4;
        width: 343px;
        span {
            font-size: 18px;
        }
    }
    &::before {
        border-top: 2px solid #dfdfdf;

        content: "";
        margin: 0 auto;
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        bottom: 0;
        width: 95%;
        z-index: -1;
    }
    /*-----------------------------------------------------*/
    &--fullBorder{
        flex: 1.8;
        span{
            font-size: 18px;
            font-weight: bold;
            color: #00634B;
            letter-spacing: 2px;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 438px;
            height: 75px;
            background-color: #F9F2E4;
        }
        &::before{
            border: 2px solid #0B654B !important;
            top: 0%;
            width: 99%;
        }
    }
}
/*-----------------------------------------------------*/
.c-title2 {
    span {
        display: inline-block;
        @include styleText(#00634B, 30px);
        font-weight: bold;
        border-bottom: 3px solid #00634B;
    }
    /*-----------------------------------------------------*/
    &--smRectange{
        justify-content: space-between;
        align-items: center;
        width: auto;
        display: flex;
        &::before{
            flex: 1;
            width: 30px;
            height: 5px;
            content: '';
            display: block;
            background-color: #FAB445;
            margin-right: 10px;
        }
        span{
            text-align: left;
            flex: 15;
            border-bottom: none;
            color: black;
            font-size: 20px;
        }
    }
    /*-----------------------------------------------------*/
    &--color1{
        span{
            color: black;
            border-color: black;
            font-size: 20px;
            letter-spacing: 2px;
            flex: 1;
        }
    }
    /*-----------------------------------------------------*/
    &--color2{
        span{
            color: black;
            border-color: black;
            font-size: 30px;
            font-weight: bold;
            letter-spacing: 2px;
            flex: 1;
            border-bottom: none;
        }
    }
}
/*-----------------------------------------------------*/
.c-title3{
    @include styleText(#00634B,18px);
    font-weight: bold;
    letter-spacing: 1.5px;
    display: block;
}
/*-----------------------------------------------------*/