/*------------------------------------------------------------
text
------------------------------------------------------------*/


/*
------------------------------------------------------------*/
.c-text1{
    text-align: left;
    @include styleText(black,14px);
    letter-spacing: 2.5px;
    list-style-image: url('../img/Class/icon_01.png');

}
/*-----------------------------------------------------*/
.c-text2{
    @include styleText(black,18px);
    letter-spacing: 2.5px;
    text-align: center;
}
