/*------------------------------------------------------------
navi
------------------------------------------------------------*/

/*
------------------------------------------------------------*/


//------------------------------------------------------

.c-gnavi{
    background-color: #F9F2E4;
    padding:30px 0px;
    ul{
        width: 940px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
    }
    li{
        width: 25%;
        border-right: 1px solid #CCCCCC;
        border-left: 1px solid #CCCCCC;
    }
    /*-----------------------------------------------------*/
    a{
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        @include styleText(#333333,16px);
        position: relative;
    }
    a::after {
        background: #CCCCCC;
        content: "";
        height: 4px;
        left: 50%;
        position: absolute;
        top: 47px;
        transition: all 0.2s ease-out 0s;
        width: 0;
    }
    a:hover::after {
        left: 0;
        width: 98%;
    }
    /*-----------------------------------------------------*/
    &--navi2{
        background-color: #FFFFFF;
    }
}