/*------------------------------------------------------------
img
------------------------------------------------------------*/

/*
------------------------------------------------------------*/

.c-imgText1 {
    display: flex;
    justify-content: space-between;
    /*-----------------------------------------------------*/
    &__img {
        flex: 1;
        img {
            width: 300px;
            height: 169px;
        }
    }
    /*-----------------------------------------------------*/
    &__text {
        flex: 2;
        position: relative;
        p {
            text-align: left;
            @include styleText(black, 14px);
        }
        a {
            left: 0px;
            text-align: left;
            text-decoration: underline;
            bottom: 10px;
            position: absolute;
            text-align: left;
            @include styleText(black, 14px);
        }
    }
    /*-----------------------------------------------------*/
    &--reverse {
        flex-direction: row-reverse;
    }
}
/*-----------------------------------------------------*/
.c-imgText2 {
    display: flex;
    background-color: #00634B;
    &__text {
        flex: 1.3;
    }
    /*-----------------------------------------------------*/
    .c-title2 {
        span {
            color: white;
            border-bottom: 2px solid white;
        }
    }
    /*-----------------------------------------------------*/
    &__info {
        @include styleText(white, 14px);
        text-align: left;
    }
    /*-----------------------------------------------------*/
    &__img {
        flex: 1.7;
    }
}
/*-----------------------------------------------------*/
.c-imgText3{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /*-----------------------------------------------------*/
    &__img{
        flex: 1;
    }
    /*-----------------------------------------------------*/
    &__text{
        flex: 2;
        @include styleText(black,14px);
            text-align: left;
            letter-spacing: 2.5px;
    }
    /*-----------------------------------------------------*/
    &__card{
        width: 460px;
        display: block;
    }
}