/*------------------------------------------------------------
list
------------------------------------------------------------*/

/*
------------------------------------------------------------*/

.c-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /*-----------------------------------------------------*/
    &__card {
        width: 220px;
        display: block;
        text-decoration: none;
        &:last-child {
            background-color: black;
            border-radius: 5px;
        }
    }
    /*-----------------------------------------------------*/
    &__img {
        img {
            &:hover {
                opacity: 0.75;
            }
        }
    }
    /*-----------------------------------------------------*/
    &__info {
        background-color: #00634B;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        &:hover {
            background-color: rgb(16, 131, 102);
        }
        &:hover span {
            background-color: rgb(4, 100, 76);
        }
        p {
            @include styleText(white, 20px);
            font-weight: bold;
        }
        span {
            font-weight: 500;
            font-size: 12px;
            display: block;
            background-color: #004534;
            width: 84px;
        }
    }
    /*-----------------------------------------------------*/
    &__info2 {
        width: 180px;
        p {
            @include styleText(white, 14px);
            background-color: #00634B;
            position: relative;
            &::after {
                content: '';
                width: 0%;
                height: 0px;
                margin: 0 auto;
                border-left: 8px solid transparent;
                border-right: 8px solid transparent;
                border-top: 20px solid #00634B;
                -webkit-transition: 0.8s 0.2s;
                transition: 0.8s 0.2s;
                left: 45%;
                bottom: -12px;
                position: absolute;
            }
        }
        /*-----------------------------------------------------*/
        h1 {
            @include styleText(white, 24px);
        }
        /*-----------------------------------------------------*/
        h3 {
            @include styleText(black, 16px);
            background-color: #FAB445;
            border-radius: 5px;
            &:hover {
                background-color: rgb(235, 164, 51);
            }
        }
        /*-----------------------------------------------------*/
    }
}
/*-----------------------------------------------------*/
.c-list2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /*-----------------------------------------------------*/
    &__card {
        height: 150px;
        width: 460px;
        position: relative;
        background-image: url(../img/Top/image_08.png);
        background-size: cover;
    }
    /*-----------------------------------------------------*/
    &__info {
        background-color: #FAB445;
        opacity: 0.75;
        width: 260px;
        p {
            @include styleText3(black, 14px);
        }
    }
    /*-----------------------------------------------------*/
    &__info2 {
        width: 260px;
        a {
            display: block;
            text-decoration: none;
            @include styleText(white, 12px);
            background-color: #00634B;
            border-radius: 3px;
        }
    }
    /*-----------------------------------------------------*/
    &__card2 {
        height: 150px;
        width: 460px;
        background-image: url(../img/Top/image_09.png);
        background-size: cover;
        border: 1px solid #DFDCD7;
        border-radius: 5px;
    }
    /*-----------------------------------------------------*/
    &__btn {
        background-color: black;
        text-decoration: none;
        position: absolute;
        bottom: 8%;
        right: 7%;
        border-radius: 5px;
        @include styleText(white, 12px);
        &:hover {
            background-color: rgb(41, 41, 41);
        }
    }
    /*-----------------------------------------------------*/
}
/*-----------------------------------------------------*/
.c-list3{
    display: flex;
    justify-content: space-between;
    /*-----------------------------------------------------*/
    &__card{
        width: 220px;
        background-color: #E5F5E9;
    }
    /*-----------------------------------------------------*/
    &__info{
        text-align: left;
        @include styleText(black,14px);
    }
    /*-----------------------------------------------------*/
    &--col2{
        .c-list3__card{
            width: 460px;
            display: block;
        }
        /*-----------------------------------------------------*/
        .c-title3{
            flex: 0;
        }
        /*-----------------------------------------------------*/
        .c-list3__info{
            flex: 2;
            font-weight: normal;
            height: 80px;
        }
        /*-----------------------------------------------------*/
        .c-list3__list{
            flex: 2;
            display: flex;
            height: 110px;
            ul{

            }
            li{
                @include styleText(black,14px);
                font-weight: normal;
                text-align: left;
            }
        }
        /*-----------------------------------------------------*/
        .c-list3__text{
            flex: 0;
            @include styleText(black,14px);
            text-align: left;
            font-weight: normal;
        }
    }
}/*-----------------------------------------------------*/