/*------------------------------------------------------------
table
------------------------------------------------------------*/

/*
------------------------------------------------------------*/

.c-table1 {
    .c-title2 {
        text-align: left;
        span {
            color: black;
            font-size: 20px;
            border-bottom: 2px solid black;
        }
    }
    /*-----------------------------------------------------*/
    &__intro {
        text-align: left;
        @include styleText(black, 14px);
        letter-spacing: 4.2px;
    }
    /*-----------------------------------------------------*/
    table {
        width: 940px;
        border-collapse: collapse;
    }
    th,
    td {
        border: 1px solid #00634b;
        text-align: center;
        @include styleText(black, 15px);
        font-weight: normal;
    }
    tr {
        background-color: #fff;
    }
    th {
        border: 1px solid #fff;
        background: #00634b;
        @include styleText(#fff, 15px);
    }
    /*-----------------------------------------------------*/
    .bg {
        background: #e5f5e9
    }
    /*-----------------------------------------------------*/
    .sTxt {
        font-size: 14px
    }
    /*-----------------------------------------------------*/
    .rTxt {
        text-align: right
    }
    /*-----------------------------------------------------*/
    .lTxt {
        text-align: left
    }
}