/*------------------------------------------------------------
video
------------------------------------------------------------*/

/*
------------------------------------------------------------*/

.c-slide{
    background-color:#E5F5E9;
    &--slide2{
        background-color: #F9F2E4;
    }
}
/*-----------------------------------------------------*/
.c-slideshow {
    max-width: 1140px;
    margin: 0 auto;
    clear: both;
    position: relative;
    display: inline-block;
    img#pc {
        display: block;
    }
    /*-----------------------------------------------------*/
    .c-slider1 {
        clear: both;
        position: relative;
        /*-----------------------------------------------------*/
        .display-btn {
            display: block;
            cursor: pointer;
            width: 374px;
            background: #930000;
            border-radius: 3px;
            box-shadow: 0px 7px #660000;
            position: absolute;
            top: 78%;
            left: 35%;
            p {
                margin: 0px;
                padding: 15px 0px;
                text-align: center;
                font-size: 20px;
                color: white;
                font-family: Noto Sans JP Regular Regular;
            }
        }
        /*-----------------------------------------------------*/
        .display-btn-2 {
            position: relative;
            margin: 0 auto;
            bottom: 100px;
            display: none;
        }
        /*-----------------------------------------------------*/
    }
    /*-----------------------------------------------------*/
    .move-left {
        display: block;
        color: black;
        font-size: 40px;
        cursor: pointer;
        position: absolute;
        top: 40%;
        left: -12%;
        width: 40px;
        height: 40px;
        display: block;
        background-color: #0B654B;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    /*-----------------------------------------------------*/
    .move-right {
        display: block;
        color: black;
        font-size: 40px;
        cursor: pointer;
        position: absolute;
        top: 40%;
        right: -12%;
        width: 40px;
        height: 40px;
        display: block;
        background-color: #0B654B;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    /*-----------------------------------------------------*/
}
/*-----------------------------------------------------*/
.c-dots {
    width: 220px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    text-align: center;
    text-align: center;
    position: relative;
    top: 16px;
    /*-----------------------------------------------------*/
    .dot1 {
        height: 12px;
        cursor: pointer;
        width: 12px;
        background-color: #bbb;
        border-radius: 50%;
        display: inline-block;
        transition: background-color 0.6s ease;
        
    }
    .active,
    .dot1:hover{
        background: #00634B;
    }
    .active::after{
        display: none;
    }
    /*-----------------------------------------------------*/
    .dot-white {
        border-radius: 50%;
        display: inline-block;
        border: 3px solid #bbb;
        background-color: white;
        height: 14px;
        cursor: pointer;
        width: 14px;
    }
    /*-----------------------------------------------------*/
    &--dot2{
        background-color: #bbb;
    }
}