/*------------------------------------------------------------
btn
------------------------------------------------------------*/

/*
------------------------------------------------------------*/

.c-btnNews {
    width: 70%;
    float: left;
    background: #015294;
    text-decoration: none;
    @include styleText(white, 18px);
    position: relative;
}
//-----------------------------------------------
.c-btnNews:before {
    position: absolute;
    content: "";
    border: solid #fff;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 2.5px;
    right: 30%;
    top: 49%;
    transform: rotate(-45deg) translateY(-50%);
}
//-----------------------------------------------
.c-btnNews:hover {
    background: #0d68b3;
}

//------------------------------------------------------
.c-btn {
    text-decoration: none;
    @include styleText(white, 15px);
    text-align: center !important;
    background: #0291AA;
    width: 98%;
    bottom: 0px;
    cursor: pointer;
    display: block;
    position: absolute;
    border: 2px solid #017C91;
    border-radius: 5px;
    //-----------------------------------------------
    &--btn1 {
        width: 470px;
        float: left;
        position: relative;
        border: none;
        font-weight: normal !important;
        img {
            position: relative;
            left: 20px;
            bottom: 5px;
        }
    }
    &--btn1:hover{
        background-color: rgb(28, 180, 207) !important;
        color: white !important;
    }
    //-----------------------------------------------
    &--btn2 {
        width: 250px;
        border-radius: 5px;
        position: relative;
    }
}

//------------------------------------------------------
.c-btn:hover {
    background: white;
    color: #017C91;
    font-weight: bold;
    transition: all .3s;
    
    &::before{
        border: solid #017C91 !important;
        border-width: 0 2px 2px 0 !important;
    }
    
}
