/*------------------------------------------------------------
title
------------------------------------------------------------*/


/*-----------------------------------------------------*/

.c-title1 {
    @include styleText(#035995, 20px);
    border-bottom: 1px solid #035995;
    font-weight: bold;
    //-----------------------------------------------
    &--center{
        border-bottom: none;
        @include styleText(#035995,23px);
        font-weight: bold;
        text-align: center;
        border-bottom: 1px solid #035995;
    }
    //-----------------------------------------------
    &--left{
        background-color: #E1F0FA;
        border-bottom: none;
    }
    //-----------------------------------------------
    &--left1{
        border-bottom:none;
    }
}
/*-----------------------------------------------------*/
.c-title2 {
        @include styleText(#009FBB, 14px);
        font-weight: bold;
        text-align: left;
        //-----------------------------------------------
        img {
            width: 20px;
            bottom: 5px;
            position: relative;
        }
        //-----------------------------------------------
        &--right{
            text-align: right;
        }
}