/*------------------------------------------------------------
text
------------------------------------------------------------*/


/*
------------------------------------------------------------*/

.c-text {
    @include styleText(black, 14px);
	text-align: left;
	//-----------------------------------------------
	&--text1{
		font-size: 14px;
		@include breakdown;
	}
	//-----------------------------------------------
	&--text2{
		font-size: 13px;
	}
}