/*------------------------------------------------------------
navi
------------------------------------------------------------*/

/*
------------------------------------------------------------*/

.c-gnavi1 {
    width: 860px;
    display: flex;
    margin: 0 auto;
    padding: 80px 0px; 
    //------------------------------------------------------
    li {
        width: 300px;
        overflow: hidden;
        background: #0291AA;
        border: 2px solid #0291AA;
        border-radius: 5px;
        cursor: pointer;
        flex: 1;
    } 
    //-----------------------------------------------
    li:nth-of-type(2) {
        margin: 0 40px;
    }
     //-----------------------------------------------
    a {
        text-decoration: none;
        overflow: hidden;
        @include styleText(white, 15px);
        font-weight: bold;
        position: relative;
        padding: 20px 0px;
        display: block;
        text-align: center;
        padding-right: 22px;
    }
    a:hover {
        background-color: white;
        color: #0291AA;
    }
    a::before {
        position: absolute;
        content: "";
        border: solid #fff;
        border-width: 0 2px 2px 0;
        display: inline-block;
        padding: 2.5px;
        right: 28%;
        top: 46%;
        -webkit-transform: rotate(-45deg) translateY(-50%);
        transform: rotate(45deg) translateY(-50%);
    }
    a:hover::before {
        border: solid #0291AA;
        border-width: 0 2px 2px 0;
    }
}

//------------------------------------------------------