/*------------------------------------------------------------
img
------------------------------------------------------------*/

/*
------------------------------------------------------------*/

.c-img1 {
    position: relative; 
    //-----------------------------------------------
    .c-imgtext1 {
        @include innerLayout;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        float: none; 
        //------------------------------------------------------
        &__text1 {
            flex: 3.3;
            position: relative;
             //------------------------------------------------------
            &--txt1 {
                font-size: 30px;
                color: #035995;
                border-bottom: 1px solid #035995;
                font-weight: 500;
            }
        } 
        //------------------------------------------------------
        &__img {
            flex: 4.1;
            height: 353px;
        } 
        //-----------------------------------------------
        &__img-sub {
            background-image: url(../img/index/c_image_01.png);
            height: 353px;
            position: absolute;
            right: 0px;
            width: 48%;
            min-width: 50px;
            background-size: cover;
            top: 0px;
        }
    } 
    //-----------------------------------------------
    &--colorbg {
        background-color: #F5F5F5;
        .c-imgtext1 {
            flex-direction: row-reverse;
            &__img-sub {
                left: 0;
            }
            &__text1 {}
        }
    }
}

/*-----------------------------------------------*/

.c-imgText2 {
    overflow: hidden;
    display: flex; 
    //-----------------------------------------------
    &__text {
        flex: 2.3;
        p {
            @include styleText(black, 14px);
            text-align: left;
            line-height: 20px;
        }
    } 
    //-----------------------------------------------
    &__image {
        flex: 2;
        position: relative;
        img {
            position: absolute;
            right: 0;
            top: 0;
            width: 430px;
            height: 300px;
        }
    }
    //-----------------------------------------------
    &--imgText3 {
        width: 1000px;
        display: flex;
        border: 1px solid #5AC1D3;
        .c-imgText2__text {
            flex: 1.55;
            p {}
        }
        .c-imgText2__image {
            flex: 1.5;
            img {
                width: 440px;
                height: 340px;
                position: relative;
                float: right;
            }
        }
    }
    //-----------------------------------------------
    &--imgText4 {
        .c-imgText2__image {
            flex: 1.5;
            img {
                position: relative;
            }
        }
        .c-imgText2__text {
            flex: 1.5;
        }
    }
    //-----------------------------------------------
    &--imgText5 {
        .c-imgText2__text {
            flex: 4;
        }
        .c-imgText2__image {
            img {
                position: relative;
                width: 357px;
                height: 238px;
            }
        }
    }
}

/*---------------------------------------------*/

.c-img {
    background-image: url('../img/recruit/image_02.png');
    overflow: hidden;
    height: auto;
    width: auto;
}