/*------------------------------------------------------------
list
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
.c-list1 {
        display: flex;
        overflow: hidden;
   //------------------------------------------------------
    &__card {
        flex:1;
        img {
            border: 1px solid #D4D4D4;
            width: 239px;
        }
        p {
            text-align: center;
        }
    } 
    //------------------------------------------------------
    &__model:last-child {
    } 
} 