/*------------------------------------------------------------
table
------------------------------------------------------------*/

/*
------------------------------------------------------------*/

.c-table {
    border-collapse: collapse;
    width: 100%; 
    //-----------------------------------------------
    &__leftSide {
        background-color: #E7F5FF;
        color: #0361A7 !important;
        flex: 1 !important;
        font-weight: 600 !important;
    } 
    //-----------------------------------------------
    tr:nth-of-type(1) {
        border-top: 1px solid #D4D4D4;
    } 
    //-----------------------------------------------
    td,th {
        border-bottom: 1px solid #D4D4D4;
        @include styleText(black, 14px);
        text-align: left;
        background-color: white;
    } 
    //-----------------------------------------------
    tr {
        display: flex;
    } 
    //-----------------------------------------------
    td {
        flex: 5.5;
        line-height: 40px;
        width: 800px;
    } 
    //-----------------------------------------------
    th {
        text-align: left;
        font-size: 14px;
    } 
    //-----------------------------------------------
    &--table1 {
        .c-table__leftSide {
            background-color: #E7F5FF !important;
        } 
        //-----------------------------------------------
        tr {
            border-bottom: none;
        } 
        //-----------------------------------------------
        td,
        th {
            flex: 4;
            font-size: 13px;
            width: 400px;
        } 
        //-----------------------------------------------
        td#modi {
            width: 90px;
            flex: 1;
            color: #025995;
            font-weight: 600;
        }
    } 
    ////////////////////////////////// this is table 2 extend from table///////////////////////////////////////
    &--table2 {
        tr {
            border: none;
        } 
        //-----------------------------------------------
        tr:nth-of-type(1) {
            border: none;
        } 
        //-----------------------------------------------
        td,
        th {
            border: none;
            display: flex;
            flex: 4;
            line-height: 32px;
            background: #F7F7F7;
        }
         //-----------------------------------------------
        input {
            width: 810px;
            line-height: 50px;
            border-color: #EAEAEA;
            border-style: solid;
            position: relative;
            bottom: 10px;
            height: 50px;
        } 
        //-----------------------------------------------
        input[type=radio] {
            float: left;
            width: 15px;
            position: relative;
            top: -14px;
        } 
        //-----------------------------------------------
        textarea {
            width: 810px;
            border-color: #EAEAEA;
            border-style: solid;
        } 
        //-----------------------------------------------
        select {
            height: 60px;
            bottom: 10px;
            position: relative;
        } 
        //-----------------------------------------------
        span {
            position: absolute;
            right: 17px;
            top: 10px;
            height: 30px;
            font-size: 14px;
        } 
        //-----------------------------------------------
        td#modi {
            flex: 1;
            @include styleText(#025995, 13px);
        } 
        //------------------------------------------------------
        .c-table__leftSide {
            flex: 1 !important;
            font-weight: 600;
            position: relative;
            background-color: #F7F7F7;
            width: 200px; 
            //-----------------------------------------------
            &--blue {
                background-color: #0362A8;
                color: white;
            } 
            //-----------------------------------------------
            &--gray {
                background-color: #8C8B8B;
                color: white;
            }
        }
         //------------------------------------------------------
        .c-table__zipcode {
            input {
                width: 100px !important;
                height: 50px;
            }
        }
    } 
    ///////////////////////////////////// This is table 3 extend from table //////////////////////////////////////
    &--table3 {
        .c-table__leftSide {
            background-color: #E7F5FF;
            width: 200px;
        }
    }
}