/*------------------------------------------------------------
other
------------------------------------------------------------*/

/*
------------------------------------------------------------*/

.c-news {
    background-color: #E7F5FF;
    overflow: hidden;
    clear: both;
    &__left {
        flex: 1;
    }
    &__right {
        flex: 4;
        a {
            display: flex;
            text-decoration: none;
            word-spacing: 10px;
            line-height: 1.65;
            text-align: left;
            span {
                flex: 1;
                @include styleText(#0361A7, 13px);
            }
            p {
                flex: 6;
                @include styleText(black, 13px);
            }
        }
        &--txt2:nth-of-type(1) {
            color: gray;
        }
    }
}

//////////////////////////// component appear once time in news page ////////////////////////////////
.c-banner {
    width: 100%;
    background-image: url('../img/index/header_01.png');
    background-position: center;
    background-size: cover;
    height: 757px;
    &__title {
        width: 1080px;
        margin: 0 auto;
        position: relative;
        p {
            width: 500px;
            float: right;
            position: relative;
            right: 10px;
        }
        img {
            width: 500px;
            height: 75px;
        }
    } 
    /////////////////////////////// banner for index/////////////////////////////////
    &--banner1 {
        background-image: url('../img/news/header_01.png');
        height: 277px;
        .c-banner__title {
            width: 366px;
            p {
                width: 366px;
                float: none;
                right: 0px;
                img {
                    width: 366px;
                }
            }
        }
    } 
    /////////////////////////////// banner for news //////////////////////////////////////
    &--banner2 {
        background-image: url('../img/company/header_01.png');
        height: 277px;
        margin-bottom: 50px;
        .c-banner__title {
            width: 172px;
            p {
                width: 172px;
                float: none;
                right: 0px;
                img {
                    width: 172px;
                }
            }
        }
    } 
    /////////////////////////////// banner for company //////////////////////////////////////
    &--banner3 {
        background-image: url('../img/business/header_01.png');
        height: 277px;
        .c-banner__title {
            width: 172px;
            p {
                float: none;
                right: 0px;
                img {
                    width: 172px;
                }
            }
        }
    } 
    /////////////////////////////// banner for case //////////////////////////////////////
    &--banner4 {
        background-image: url('../img/case/header_01.jpg');
        height: 277px;
        .c-banner__title {
            width: 172px;
            p {
                width: 366px;
                float: none;
                right: 0px;
                img {
                    width: 172px;
                }
            }
        }
    } 
    /////////////////////////////// banner for recruit //////////////////////////////////////
    &--banner5 {
        background-image: url('../img/recruit/header_01.jpg');
        height: 277px;
        margin-bottom: 50px;
        .c-banner__title {
            width: 172px;
            p {
                padding-top: 100px;
                float: none;
                right: 0px;
                img {
                    width: 172px;
                }
            }
        }
    } 
    /////////////////////////////// banner for contact Us //////////////////////////////////////
    &--banner6 {
        background-image: url('../img/contact/header_01.png');
        height: 277px;
        .c-banner__title {
            width: 172px;
            p {
                float: none;
                right: 0px;
                img {
                    width: 172px;
                    height: 65px;
                }
            }
        }
    }
}

//////////////////////////// component appear many time in each page ////////////////////////////////
.c-imageCompany {
    img {
        width: 1078px;
        height: 218px;
    }
} //------------------------------------------------------
//////////////////////////// component appear once time in Company page ////////////////////////////////
.c-maps {
    overflow: hidden;
    border: 1px solid #D4D4D4;
}