footer {
    background-color: #F2EADB;
}
/*-----------------------------------------------------*/
.c-fooContact {
    padding-top: 60px;
    display: flex;
    justify-content: space-between;
    background-color: #F2EADB;
    padding-bottom: 78px;
    /*-----------------------------------------------------*/
    &--contact2{
        .c-contact2{
            margin-top: 0px;
        }
    }
    /*-----------------------------------------------------*/
    &--ver2{
        .c-contact1{
            padding-right: 20px;
        }
    }
}
/*-----------------------------------------------------*/
.c-contact1 {
    flex: 1;
    width: 460px;
    /*-----------------------------------------------------*/
    &__title {
        @include styleText(black, 22px);
        font-weight: bold;
        text-align: center;
        z-index: 1;
        position: relative;
        display: block;
        span{
            padding: 0px 20px;
            background: #F2EADB;
        }
        &::before {
            border-top:2px solid #CDCDCC;
            content: "";
            margin: 0 auto;
            position: absolute;
            top: 50%;
            left: 0;
            right: 0;
            bottom: 0;
            width: 100%;
            z-index: -1;
        }
    }
    /*-----------------------------------------------------*/
    ul{
        display: flex;
        flex-wrap:  wrap;
        justify-content: space-between;
    }
    li{
        width: 220px;
        margin-top: 20px;
    }
    a{
        display: block;
        text-decoration: none;
        position: relative;
    }
    img{
        &:hover{
            opacity: 0.75;
        }
    }
    /*-----------------------------------------------------*/
    p#text1{
        background-color: #00634B;
        @include styleText(white,16px);
        font-weight: bold;
        height: 74px;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        justify-content: center;
        align-items: center;
        display: flex;
        &:hover{
            background-color: rgb(16, 131, 102);
        }
    }
    /*-----------------------------------------------------*/
    p#text2{
        position: absolute;
        top: 0px;
        left: 0px;
        display: block;
        @include styleText(white,12px);
        background: #FAB445;
        text-align: center;
        width: 106px;
    }
    /*-----------------------------------------------------*/
    iframe{
        width: 100%;
    }
}
/*-----------------------------------------------------*/

.c-contact2 {
    flex: 0.96;
    width: 480px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
    margin-top: 13px;
    a {
        width: 48%;
        box-sizing: border-box;
        height: 110px;
        img{
            &:hover{
                opacity: 0.75;
            }
        }
    }
    /*-----------------------------------------------------*/
    &__item1 {
        background-color: #00634B;
        display: flex;
        justify-content: center;
        border-radius: 5px;
        &:hover {
            background-color: rgb(13, 117, 91);
        }
    }
    /*-----------------------------------------------------*/
    &__item2 {
        height: 61px !important;
        border-radius: 5px;
        border: 1px solid grey;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #fff;
        &:hover {
            background-color: whitesmoke;
        }
    }
}
/*-----------------------------------------------------*/
.fooLinks{
    background-color: black;
    display: block;
    
}
/*-----------------------------------------------------*/
.fooLink{
    padding: 50px 0px;
    padding-top: 30px;
    display: flex;
    text-align: left;
    justify-content: space-between;
    ul{
        padding-left: 10px;
    }
    a{
        line-height: 20px;
        text-align: left;
        text-decoration: underline;
        @include styleText(white,12px)
    }
    .title{
        font-size: 15px;
        font-weight: bold;
        margin-bottom: 10px;
        margin-top: 20px;
        display: block;
    }
}
/*-----------------------------------------------------*/
.c-fooCopyLogo{
    background-color: #00634B;
    ul{
        
        display: flex;
        justify-content: space-between;
    }
    li{
        padding: 48px 0px;
        display: flex;
        align-items: center;
        &:first-child{
            margin-right: 30px;
            flex: 0.65;
            img{
                width: 223px;
            }
        }
    }
    li:nth-of-type(2){
        flex: 2;
    }
    /*-----------------------------------------------------*/
    p{
        @include styleText2(white,13px);
        text-align: left;
        
    }
}
/*-----------------------------------------------------*/