.c-header {
    background-image: url(../img/Header/Background_Top.png);
    height: 610px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    h1 {
        margin: 0 auto;
        padding-top: 230px;
        width: 655px;
    }
}
/*-----------------------------------------------------*/
.c-header3 {
    background-image: url(../img/Event/header_01.png);
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    p {
        @include styleText(white, 30px);
        font-weight: bold;
        letter-spacing: 5px;
    }
    &--class {
        background-image: url(../img/Class/header_01.png);
    }
    &--about{
        background-image: url(../img/About/header_01.png);
    }
}
/*-----------------------------------------------------*/
.c-header2 {
    background-color: white;
    padding-top: 22px;
    ul {
        display: flex;
        justify-content: space-between;
    }
}
/*-----------------------------------------------------*/