@charset "UTF-8";
/*------------------------------------------------------------
	Default
------------------------------------------------------------*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, dialog, figure, footer, header, button,
hgroup, menu, nav, section,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 1em;
}

html {
  font-size: 62.5%;
}

body, table,
input, textarea, select, option, button,
h1, h2, h3, h4, h5, h6 {
  line-height: 1.1;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

table,
input, textarea, select, option {
  line-height: 1.1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

:focus {
  outline: 0;
}

ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

img {
  vertical-align: top;
}

/*------------------------------------------------------------
	Text Format
------------------------------------------------------------*/
/* text position */
.taLeft {
  text-align: left !important;
}

.taCenter {
  text-align: center !important;
}

.taRight {
  text-align: right !important;
}

.vTop {
  vertical-align: top !important;
}

.vMiddle {
  vertical-align: middle !important;
}

/* font weight */
.fwNormal {
  font-weight: normal !important;
}

.fwBold {
  font-weight: bold !important;
}

/*------------------------------------------------------------
	adjustment class ※ no use frequently
------------------------------------------------------------*/
.mt0 {
  margin-top: 0 !important;
}

.mb0 {
  margin-bottom: 0 !important;
}

/*------------------------------------------------------------
	clearfix（float解除）
------------------------------------------------------------*/
.clearfix {
  *zoom: 1;
}

.clearfix:after {
  display: block;
  clear: both;
  content: "";
}

.u-colorBlue {
  font-size: 20px !important;
  color: #035995 !important;
  font-weight: bold !important;
}

.u-colorBlue p::after {
  display: none;
}

/*------------------------------------------------------------
	for tracking tag
------------------------------------------------------------*/
.trackTags {
  display: none;
}

.bgcolor2 {
  background-color: #F7F7F7;
}

.bgcolor3 {
  background-color: #FFFFFF;
}

.is-current:hover,
.is-current:active,
.is-current:visited {
  overflow: hidden;
  width: auto;
  float: left;
  border-bottom: 4px solid #009FBB;
}

.active::after {
  background: #009FBB;
  content: "";
  height: 4px;
  left: 0 !important;
  position: absolute;
  top: 37px;
  -webkit-transition: all 0.2s ease-out 0s;
  transition: all 0.2s ease-out 0s;
  width: 100% !important;
}

.index {
  background: white;
  color: #0291AA !important;
}

.index a::before {
  border: solid #0291AA !important;
  border-width: 0 2px 2px 0 !important;
}

.is-click {
  color: gray !important;
}

/*-------------------- This is header------------*/
.c-header .c-head {
  background-color: #015294;
  overflow: hidden;
}

.c-header .l-container p#text {
  padding: 20px 0px;
}

.c-header .l-container p {
  font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
  font-weight: 500;
  color: white;
  font-size: 12px;
  text-align: left;
  float: left;
}

.c-header .l-container p img {
  position: relative;
  top: 2px;
}

.c-header .l-container a {
  text-decoration: none;
}

.c-header .l-container a img {
  position: relative;
  top: 2px;
}

/*-------------------- This is link in header------------*/
.c-link {
  list-style-type: none;
  text-decoration: none;
  width: 570px;
  float: right;
  text-align: center;
}

.c-link__link1 {
  width: 220px;
  padding: 12px 10px;
  float: left;
}

.c-link__link1 a {
  font-size: 28px;
  font-weight: bold;
}

.c-link__link2 {
  width: 150px !important;
  padding-top: 15px !important;
  float: left;
}

.c-link__link2 a {
  text-align: left;
  float: left;
  font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
  font-weight: 500;
  color: white;
  font-size: 12px;
}

.c-link__link3 {
  background-color: #009FBB;
  margin-top: 10px;
  border-radius: 5px;
  float: left;
}

.c-link__link3 a {
  font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
  font-weight: 500;
  color: white;
  font-size: 14px;
  position: relative;
  text-align: center;
  display: block;
  padding: 8px 34px;
  padding-top: 10px;
  padding-bottom: 4px;
}

.c-link__link3 img {
  width: 20px;
  position: relative;
  top: -4px !important;
}

.c-link__link3:hover {
  background-color: #0080AB;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

/*-----------------This is gnavi-----------------*/
.c-horizontal-bar {
  overflow: hidden;
}

.c-horizontal-bar .l-container {
  padding-bottom: 6px;
  height: 68px;
}

.c-horizontal-bar__logo {
  width: 280px;
  float: left;
  margin-top: 11px;
}

.c-horizontal-bar__logo img {
  width: 100%;
}

.l-container .c-gnavi {
  display: block;
  width: 730px;
  float: right;
}

.l-container .c-gnavi ul {
  margin-top: 20px;
  display: inline;
  width: 730px;
  float: right;
}

.l-container .c-gnavi li {
  float: left;
  text-align: center;
  padding: 0px 6px;
  border-left: 1px solid gray;
}

.l-container .c-gnavi a::after {
  background: #009FBB;
  content: "";
  height: 4px;
  left: 50%;
  position: absolute;
  top: 37px;
  -webkit-transition: all 0.2s ease-out 0s;
  transition: all 0.2s ease-out 0s;
  width: 0;
}

.l-container .c-gnavi a:hover::after {
  left: 0;
  width: 100%;
}

.l-container .c-gnavi a {
  display: block;
  position: relative;
  text-decoration: none;
}

.l-container .c-gnavi a img {
  top: 0px;
}

.l-container .c-gnavi li:last-child {
  border-right: 1px solid gray;
}

.l-container .c-gnavi span {
  display: block;
  font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
  font-weight: 500;
  color: black;
  font-size: 11px;
  padding-bottom: 2px;
}

/*-----------------End Header--------------*/
/*----------------------Start footer---------------------*/
.c-footer {
  clear: both;
}

.c-footer-1 {
  background-color: #003C7F;
  overflow: hidden;
  position: relative;
}

.c-footer-1 .l-container {
  width: 1080px;
  position: relative;
  margin: auto;
  overflow: hidden;
}

.c-footer-1__btn-up {
  width: 50px;
  position: fixed;
  left: 50%;
  margin-left: 512px;
  right: 0px;
  float: right;
  bottom: 75px;
}

.c-footer-1__btn-up a {
  -webkit-transition: all .3s;
  transition: all .3s;
  background-color: #0291AA;
  width: 50px;
  display: block;
  height: 60px;
  float: right;
  border-radius: 50%;
}

.c-footer-1__btn-up a:hover {
  opacity: 0.7;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.c-footer-1__btn-up a:before {
  position: absolute;
  content: "";
  border: solid #fff;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 9px;
  right: 45%;
  top: 49%;
  -webkit-transform: rotate(225deg) translateY(50%);
          transform: rotate(225deg) translateY(50%);
}

.c-footer-1__left {
  width: 420px;
  padding-top: 35px;
  float: left;
}

.c-footer-1__left img {
  width: 338px;
  float: left;
}

.c-footer-1__left p {
  font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
  font-weight: 500;
  color: white;
  font-size: 12px;
  clear: both;
  padding: 15px 0px;
  padding-bottom: 30px;
  text-align: left;
}

.c-footer-1__center {
  width: 240px;
  float: left;
  padding-left: 15px;
  top: 38px;
  position: relative;
  border-left: 1px solid gray;
}

.c-footer-1__center a {
  text-decoration: none;
  padding: 0px;
  text-align: left;
  font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
  font-weight: 500;
  color: white;
  font-size: 12px;
}

.c-footer-1__center #tel {
  line-height: 45px;
  font-size: 28px;
  font-weight: bold;
}

.c-footer-1__center #tel img {
  top: 9px;
  position: relative;
}

.c-footer-1__center #fax {
  line-height: 20px;
  font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
  font-weight: 500;
  color: white;
  font-size: 12px;
}

.c-footer-1__center #date {
  display: block;
  font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
  font-weight: 500;
  color: white;
  font-size: 12px;
}

.c-footer-1__right {
  width: 340px;
  float: left;
  top: 38px;
  position: relative;
  overflow: hidden;
  height: 97px;
}

.c-footer-1__desc {
  width: 310px;
  float: right;
  color: white;
  overflow: hidden;
}

.c-footer-1__desc ul {
  display: inline;
}

.c-footer-1__desc li {
  float: left;
  width: 110px;
}

.c-footer-1__desc li:nth-of-type(2),
.c-footer-1__desc li:nth-of-type(5) {
  padding-left: 20px;
  text-align: center;
  width: 90px;
}

.c-footer-1__desc li:nth-of-type(3),
.c-footer-1__desc li:nth-of-type(6) {
  text-align: right;
  width: 90px;
}

.c-footer-1__desc a {
  font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
  font-weight: 500;
  color: white;
  font-size: 12px;
  text-decoration: none;
}

.c-footer-1__btn {
  padding-top: 15px;
  margin: 0 auto;
  right: 0px;
}

.c-footer-1__btn a {
  font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
  font-weight: 500;
  color: #003C7F;
  font-size: 14px;
  font-weight: bold;
  color: #003C7F;
  background-color: #fff;
  padding: 10px 25px;
  padding-top: 17px;
  border-radius: 5px;
  text-align: center;
  position: absolute;
  right: 0px;
  bottom: 0px;
  text-decoration: none;
}

.c-footer-1__btn a:hover {
  background-color: #6CACE0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.c-footer-1__btn img {
  position: relative;
  bottom: 6px;
}

/*------------------footer 2----------------------- */
.c-footer-2 {
  background-color: #002F64;
}

.c-footer-2 .l-container p {
  font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
  font-weight: 500;
  color: #608FBF;
  font-size: 12px;
  padding: 15px 0px;
  text-align: left;
}

/*------------------------------------------------------------
layout
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
body {
  min-width: 1140px;
}

.l-container {
  width: 1080px;
  margin: 0px auto;
  overflow: hidden;
}

/*
------------------------------------------------------------*/
.l-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/*
------------------------------------------------------------*/
/*------------------------------------------------------------
btn
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
.c-btnNews {
  width: 70%;
  float: left;
  background: #015294;
  text-decoration: none;
  font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
  font-weight: 500;
  color: white;
  font-size: 18px;
  position: relative;
}

.c-btnNews:before {
  position: absolute;
  content: "";
  border: solid #fff;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 2.5px;
  right: 30%;
  top: 49%;
  -webkit-transform: rotate(-45deg) translateY(-50%);
          transform: rotate(-45deg) translateY(-50%);
}

.c-btnNews:hover {
  background: #0d68b3;
}

.c-btn {
  text-decoration: none;
  font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
  font-weight: 500;
  color: white;
  font-size: 15px;
  text-align: center !important;
  background: #0291AA;
  width: 98%;
  bottom: 0px;
  cursor: pointer;
  display: block;
  position: absolute;
  border: 2px solid #017C91;
  border-radius: 5px;
}

.c-btn--btn1 {
  width: 470px;
  float: left;
  position: relative;
  border: none;
  font-weight: normal !important;
}

.c-btn--btn1 img {
  position: relative;
  left: 20px;
  bottom: 5px;
}

.c-btn--btn1:hover {
  background-color: #1cb4cf !important;
  color: white !important;
}

.c-btn--btn2 {
  width: 250px;
  border-radius: 5px;
  position: relative;
}

.c-btn:hover {
  background: white;
  color: #017C91;
  font-weight: bold;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.c-btn:hover::before {
  border: solid #017C91 !important;
  border-width: 0 2px 2px 0 !important;
}

/*------------------------------------------------------------
title
------------------------------------------------------------*/
/*-----------------------------------------------------*/
.c-title1 {
  font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
  font-weight: 500;
  color: #035995;
  font-size: 20px;
  border-bottom: 1px solid #035995;
  font-weight: bold;
}

.c-title1--center {
  border-bottom: none;
  font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
  font-weight: 500;
  color: #035995;
  font-size: 23px;
  font-weight: bold;
  text-align: center;
  border-bottom: 1px solid #035995;
}

.c-title1--left {
  background-color: #E1F0FA;
  border-bottom: none;
}

.c-title1--left1 {
  border-bottom: none;
}

/*-----------------------------------------------------*/
.c-title2 {
  font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
  font-weight: 500;
  color: #009FBB;
  font-size: 14px;
  font-weight: bold;
  text-align: left;
}

.c-title2 img {
  width: 20px;
  bottom: 5px;
  position: relative;
}

.c-title2--right {
  text-align: right;
}

/*------------------------------------------------------------
icon
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
/*------------------------------------------------------------
form
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
/*------------------------------------------------------------
text
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
.c-text {
  font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
  font-weight: 500;
  color: black;
  font-size: 14px;
  text-align: left;
}

.c-text--text1 {
  font-size: 14px;
}

.c-text--text1::after {
  display: block;
  content: "";
  padding: 15px 0px;
  clear: both;
}

.c-text--text2 {
  font-size: 13px;
}

/*------------------------------------------------------------
navi
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
.c-gnavi1 {
  width: 860px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  padding: 80px 0px;
}

.c-gnavi1 li {
  width: 300px;
  overflow: hidden;
  background: #0291AA;
  border: 2px solid #0291AA;
  border-radius: 5px;
  cursor: pointer;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.c-gnavi1 li:nth-of-type(2) {
  margin: 0 40px;
}

.c-gnavi1 a {
  text-decoration: none;
  overflow: hidden;
  font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
  font-weight: 500;
  color: white;
  font-size: 15px;
  font-weight: bold;
  position: relative;
  padding: 20px 0px;
  display: block;
  text-align: center;
  padding-right: 22px;
}

.c-gnavi1 a:hover {
  background-color: white;
  color: #0291AA;
}

.c-gnavi1 a::before {
  position: absolute;
  content: "";
  border: solid #fff;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 2.5px;
  right: 28%;
  top: 46%;
  -webkit-transform: rotate(-45deg) translateY(-50%);
  transform: rotate(45deg) translateY(-50%);
}

.c-gnavi1 a:hover::before {
  border: solid #0291AA;
  border-width: 0 2px 2px 0;
}

/*------------------------------------------------------------
img
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
.c-img1 {
  position: relative;
}

.c-img1 .c-imgtext1 {
  width: 1080px;
  margin: 0 auto;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  float: none;
}

.c-img1 .c-imgtext1__text1 {
  -webkit-box-flex: 3.3;
      -ms-flex: 3.3;
          flex: 3.3;
  position: relative;
}

.c-img1 .c-imgtext1__text1--txt1 {
  font-size: 30px;
  color: #035995;
  border-bottom: 1px solid #035995;
  font-weight: 500;
}

.c-img1 .c-imgtext1__img {
  -webkit-box-flex: 4.1;
      -ms-flex: 4.1;
          flex: 4.1;
  height: 353px;
}

.c-img1 .c-imgtext1__img-sub {
  background-image: url(../img/index/c_image_01.png);
  height: 353px;
  position: absolute;
  right: 0px;
  width: 48%;
  min-width: 50px;
  background-size: cover;
  top: 0px;
}

.c-img1--colorbg {
  background-color: #F5F5F5;
}

.c-img1--colorbg .c-imgtext1 {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.c-img1--colorbg .c-imgtext1__img-sub {
  left: 0;
}

/*-----------------------------------------------*/
.c-imgText2 {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.c-imgText2__text {
  -webkit-box-flex: 2.3;
      -ms-flex: 2.3;
          flex: 2.3;
}

.c-imgText2__text p {
  font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
  font-weight: 500;
  color: black;
  font-size: 14px;
  text-align: left;
  line-height: 20px;
}

.c-imgText2__image {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  position: relative;
}

.c-imgText2__image img {
  position: absolute;
  right: 0;
  top: 0;
  width: 430px;
  height: 300px;
}

.c-imgText2--imgText3 {
  width: 1000px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid #5AC1D3;
}

.c-imgText2--imgText3 .c-imgText2__text {
  -webkit-box-flex: 1.55;
      -ms-flex: 1.55;
          flex: 1.55;
}

.c-imgText2--imgText3 .c-imgText2__image {
  -webkit-box-flex: 1.5;
      -ms-flex: 1.5;
          flex: 1.5;
}

.c-imgText2--imgText3 .c-imgText2__image img {
  width: 440px;
  height: 340px;
  position: relative;
  float: right;
}

.c-imgText2--imgText4 .c-imgText2__image {
  -webkit-box-flex: 1.5;
      -ms-flex: 1.5;
          flex: 1.5;
}

.c-imgText2--imgText4 .c-imgText2__image img {
  position: relative;
}

.c-imgText2--imgText4 .c-imgText2__text {
  -webkit-box-flex: 1.5;
      -ms-flex: 1.5;
          flex: 1.5;
}

.c-imgText2--imgText5 .c-imgText2__text {
  -webkit-box-flex: 4;
      -ms-flex: 4;
          flex: 4;
}

.c-imgText2--imgText5 .c-imgText2__image img {
  position: relative;
  width: 357px;
  height: 238px;
}

/*---------------------------------------------*/
.c-img {
  background-image: url("../img/recruit/image_02.png");
  overflow: hidden;
  height: auto;
  width: auto;
}

/*------------------------------------------------------------
list
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
.c-list1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
}

.c-list1__card {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.c-list1__card img {
  border: 1px solid #D4D4D4;
  width: 239px;
}

.c-list1__card p {
  text-align: center;
}

/*------------------------------------------------------------
table
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
.c-table {
  border-collapse: collapse;
  width: 100%;
}

.c-table__leftSide {
  background-color: #E7F5FF;
  color: #0361A7 !important;
  -webkit-box-flex: 1 !important;
      -ms-flex: 1 !important;
          flex: 1 !important;
  font-weight: 600 !important;
}

.c-table tr:nth-of-type(1) {
  border-top: 1px solid #D4D4D4;
}

.c-table td, .c-table th {
  border-bottom: 1px solid #D4D4D4;
  font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
  font-weight: 500;
  color: black;
  font-size: 14px;
  text-align: left;
  background-color: white;
}

.c-table tr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.c-table td {
  -webkit-box-flex: 5.5;
      -ms-flex: 5.5;
          flex: 5.5;
  line-height: 40px;
  width: 800px;
}

.c-table th {
  text-align: left;
  font-size: 14px;
}

.c-table--table1 .c-table__leftSide {
  background-color: #E7F5FF !important;
}

.c-table--table1 tr {
  border-bottom: none;
}

.c-table--table1 td,
.c-table--table1 th {
  -webkit-box-flex: 4;
      -ms-flex: 4;
          flex: 4;
  font-size: 13px;
  width: 400px;
}

.c-table--table1 td#modi {
  width: 90px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  color: #025995;
  font-weight: 600;
}

.c-table--table2 tr {
  border: none;
}

.c-table--table2 tr:nth-of-type(1) {
  border: none;
}

.c-table--table2 td,
.c-table--table2 th {
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 4;
      -ms-flex: 4;
          flex: 4;
  line-height: 32px;
  background: #F7F7F7;
}

.c-table--table2 input {
  width: 810px;
  line-height: 50px;
  border-color: #EAEAEA;
  border-style: solid;
  position: relative;
  bottom: 10px;
  height: 50px;
}

.c-table--table2 input[type=radio] {
  float: left;
  width: 15px;
  position: relative;
  top: -14px;
}

.c-table--table2 textarea {
  width: 810px;
  border-color: #EAEAEA;
  border-style: solid;
}

.c-table--table2 select {
  height: 60px;
  bottom: 10px;
  position: relative;
}

.c-table--table2 span {
  position: absolute;
  right: 17px;
  top: 10px;
  height: 30px;
  font-size: 14px;
}

.c-table--table2 td#modi {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
  font-weight: 500;
  color: #025995;
  font-size: 13px;
}

.c-table--table2 .c-table__leftSide {
  -webkit-box-flex: 1 !important;
      -ms-flex: 1 !important;
          flex: 1 !important;
  font-weight: 600;
  position: relative;
  background-color: #F7F7F7;
  width: 200px;
}

.c-table--table2 .c-table__leftSide--blue {
  background-color: #0362A8;
  color: white;
}

.c-table--table2 .c-table__leftSide--gray {
  background-color: #8C8B8B;
  color: white;
}

.c-table--table2 .c-table__zipcode input {
  width: 100px !important;
  height: 50px;
}

.c-table--table3 .c-table__leftSide {
  background-color: #E7F5FF;
  width: 200px;
}

/*------------------------------------------------------------
line
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
/*------------------------------------------------------------
video
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
/*------------------------------------------------------------
video
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
/*------------------------------------------------------------
other
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
.c-news {
  background-color: #E7F5FF;
  overflow: hidden;
  clear: both;
}

.c-news__left {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.c-news__right {
  -webkit-box-flex: 4;
      -ms-flex: 4;
          flex: 4;
}

.c-news__right a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  word-spacing: 10px;
  line-height: 1.65;
  text-align: left;
}

.c-news__right a span {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
  font-weight: 500;
  color: #0361A7;
  font-size: 13px;
}

.c-news__right a p {
  -webkit-box-flex: 6;
      -ms-flex: 6;
          flex: 6;
  font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
  font-weight: 500;
  color: black;
  font-size: 13px;
}

.c-news__right--txt2:nth-of-type(1) {
  color: gray;
}

.c-banner {
  width: 100%;
  background-image: url("../img/index/header_01.png");
  background-position: center;
  background-size: cover;
  height: 757px;
}

.c-banner__title {
  width: 1080px;
  margin: 0 auto;
  position: relative;
}

.c-banner__title p {
  width: 500px;
  float: right;
  position: relative;
  right: 10px;
}

.c-banner__title img {
  width: 500px;
  height: 75px;
}

.c-banner--banner1 {
  background-image: url("../img/news/header_01.png");
  height: 277px;
}

.c-banner--banner1 .c-banner__title {
  width: 366px;
}

.c-banner--banner1 .c-banner__title p {
  width: 366px;
  float: none;
  right: 0px;
}

.c-banner--banner1 .c-banner__title p img {
  width: 366px;
}

.c-banner--banner2 {
  background-image: url("../img/company/header_01.png");
  height: 277px;
  margin-bottom: 50px;
}

.c-banner--banner2 .c-banner__title {
  width: 172px;
}

.c-banner--banner2 .c-banner__title p {
  width: 172px;
  float: none;
  right: 0px;
}

.c-banner--banner2 .c-banner__title p img {
  width: 172px;
}

.c-banner--banner3 {
  background-image: url("../img/business/header_01.png");
  height: 277px;
}

.c-banner--banner3 .c-banner__title {
  width: 172px;
}

.c-banner--banner3 .c-banner__title p {
  float: none;
  right: 0px;
}

.c-banner--banner3 .c-banner__title p img {
  width: 172px;
}

.c-banner--banner4 {
  background-image: url("../img/case/header_01.jpg");
  height: 277px;
}

.c-banner--banner4 .c-banner__title {
  width: 172px;
}

.c-banner--banner4 .c-banner__title p {
  width: 366px;
  float: none;
  right: 0px;
}

.c-banner--banner4 .c-banner__title p img {
  width: 172px;
}

.c-banner--banner5 {
  background-image: url("../img/recruit/header_01.jpg");
  height: 277px;
  margin-bottom: 50px;
}

.c-banner--banner5 .c-banner__title {
  width: 172px;
}

.c-banner--banner5 .c-banner__title p {
  padding-top: 100px;
  float: none;
  right: 0px;
}

.c-banner--banner5 .c-banner__title p img {
  width: 172px;
}

.c-banner--banner6 {
  background-image: url("../img/contact/header_01.png");
  height: 277px;
}

.c-banner--banner6 .c-banner__title {
  width: 172px;
}

.c-banner--banner6 .c-banner__title p {
  float: none;
  right: 0px;
}

.c-banner--banner6 .c-banner__title p img {
  width: 172px;
  height: 65px;
}

.c-imageCompany img {
  width: 1078px;
  height: 218px;
}

.c-maps {
  overflow: hidden;
  border: 1px solid #D4D4D4;
}

/*------------------------------------------------------------
business page
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
.p-business .c-banner {
  margin-bottom: 50px;
}

.p-business .c-banner__title {
  margin: 0 auto;
}

.p-business .c-banner__title p {
  padding-top: 100px;
}

.p-business .c-imgText2 .c-imgText2:last-child {
  margin-bottom: 120px;
}

.p-business .c-imgText2__left {
  -webkit-box-flex: 1.6;
      -ms-flex: 1.6;
          flex: 1.6;
}

.p-business .c-imgText2__left--txt {
  padding: 0px;
}

.p-business .c-imgText2__left--txt::after {
  padding: 0px !important;
}

.p-business .c-imgText2 p::after {
  display: block;
  content: "";
  padding: 15px 0px;
  clear: both;
}

.p-business .c-imgText2--imgText3 {
  margin-top: 114px;
  margin: 0 auto;
  padding: 45px 40px;
  margin-bottom: 120px;
}

/*------------------------------------------------------------
case page
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
.p-case .c-banner {
  margin-bottom: 50px;
}

.p-case .c-banner__title {
  margin: 0 auto;
}

.p-case .c-banner__title p {
  padding-top: 100px;
}

.p-case .l-container {
  padding-top: 40px;
}

.p-case .l-container .c-gnavi {
  margin: 0 auto;
  padding: 80px 0px;
}

.p-case .l-container .c-gnavi li:nth-of-type(2) {
  margin: 0 40px;
}

.p-case .l-container .c-gnavi a {
  padding: 20px 0px;
  padding: 22px;
}

.p-case .l-container--img {
  width: 10px;
  height: 8px;
  background-image: url(../img/case/icon102.png);
  overflow: hidden;
  float: right;
  position: relative;
  right: 75px;
  top: 4px;
}

.p-case .l-container--btn1:hover, .p-case .l-container--btn1:nth-of-type(1) {
  background: white;
}

.p-case .l-container--btn1:hover p,
.p-case .l-container--btn1:nth-of-type(1) p {
  color: #0291AA;
}

.p-case .l-container--btn1:hover .p-case .l-container--img,
.p-case .l-container--btn1:nth-of-type(1) .p-case .l-container--img {
  background-image: url(../img/case/icon101.png);
}

.p-case .l-container--btn1:nth-of-type(2) {
  margin: 0px 40px;
}

.p-case .c-title1--center {
  padding-bottom: 10px;
  margin-bottom: 60px;
}

.p-case .c-title1--left {
  padding: 18px 0px 18px 18px;
  margin-bottom: 30px;
}

.p-case .c-imgText2--imgText4 {
  padding-bottom: 80px;
}

.p-case .c-imgText2--imgText4 .c-imgText2__text td,
.p-case .c-imgText2--imgText4 .c-imgText2__text th {
  padding: 8px;
  padding-left: 20px;
}

/*------------------------------------------------------------
company page
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
.p-company .c-banner {
  margin-bottom: 50px;
}

.p-company .c-banner__title {
  margin: 0 auto;
}

.p-company .c-banner__title p {
  padding-top: 100px;
}

.p-company p {
  font-size: 14px;
  line-height: 20px;
}

.p-company p::after {
  display: block;
  content: "";
  padding: 13px 0px;
  clear: both;
}

.p-company .l-container {
  padding: 79px 0px;
}

.p-company .c-table th,
.p-company .c-table td {
  padding: 8px;
  padding-left: 32px;
}

.p-company .c-table th {
  padding: 12px 0px;
}

.p-company .c-title1 {
  padding-top: 20px;
}

.p-company .c-title1::after {
  display: block;
  content: "";
  padding: 15px 0px;
  clear: both;
}

.p-company .c-title2 {
  padding-top: 20px;
}

.p-company .c-title2 img {
  width: 235px;
  height: 50px;
  bottom: 0;
}

.p-company .c-list1__card {
  margin-right: 28px;
}

.p-company .c-list1__card img {
  padding: 4px;
}

.p-company .c-list1__card p {
  margin: 10px 0px;
}

.p-company .c-list1__card:last-child {
  margin-right: 0px;
}

.p-company .c-list1__model:last-child {
  padding-right: 0px;
}

.p-company--bgcolor {
  background-color: #F7F7F7;
}

/* ///////////////////////////End Content company.html ///////////////////////////////////// */
/*------------------------------------------------------------
contact page
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
.p-contact .c-banner {
  margin-bottom: 50px;
}

.p-contact .c-banner__title {
  margin: 0 auto;
}

.p-contact .c-banner__title p {
  padding-top: 100px;
}

.p-contact .l-container {
  padding: 80px 0px;
  margin-bottom: 50px;
}

.p-contact p {
  text-align: left;
  line-height: 20px;
  font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
  font-weight: 500;
  color: black;
  font-size: 14px;
}

.p-contact p::after {
  display: block;
  content: "";
  padding: 15px 0px;
  clear: both;
}

.p-contact .c-table--table2 td, .p-contact .c-table--table2 th {
  padding-left: 0px;
  padding: 8px;
}

.p-contact .c-table--table2 td input[type=radio], .p-contact .c-table--table2 th input[type=radio] {
  margin-left: 0;
}

.p-contact .c-table--table2 td span, .p-contact .c-table--table2 th span {
  padding: 0px 5px;
}

.p-contact .c-table--table2 .c-table__leftSide--radio {
  padding-right: 50px;
}

.p-contact2 .l-container .c-btn--btn2 {
  padding: 0px;
  padding: 20px 0px;
  margin: auto;
  margin-bottom: 100px;
}

.p-contact2 .l-container .c-btn:before {
  position: absolute;
  content: "";
  border: solid #fff;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 2.5px;
  right: 23%;
  top: 49%;
  -webkit-transform: rotate(-45deg) translateY(-50%);
          transform: rotate(-45deg) translateY(-50%);
}

/* ///////////////////////////End Content contact.html ///////////////////////////////////// */
/*------------------------------------------------------------
index page
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
.sample {
  -webkit-transform: scale(1);
          transform: scale(1);
  background-size: cover;
  -webkit-background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.p-index .c-banner__title p {
  padding-top: 80px;
}

.p-index .l-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.p-index .c-news {
  padding: 40px 0px;
  margin: 100px 0px;
}

.p-index .c-news__right {
  -webkit-box-flex: 5;
      -ms-flex: 5;
          flex: 5;
  padding-left: 50px;
}

.p-index .c-news__right a {
  margin-bottom: 30px;
}

.p-index .c-btnNews {
  padding: 10px 0px;
  margin-top: 20px;
  padding-left: 45px;
}

.p-index .c-imgtext1__img-sub {
  margin: 80px 0px;
}

.p-index .c-imgtext1 {
  padding: 80px 0px;
}

.p-index .c-imgtext1__text1 {
  padding-left: 10px;
}

.p-index .c-imgtext1__text1--txt1 {
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.p-index .c-text--text2 {
  padding-bottom: 60px;
}

.p-index .c-btn {
  padding: 15px 0px;
  margin: 0 auto;
}

.p-index .c-btn:before {
  position: absolute;
  content: "";
  border: solid #fff;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 2.5px;
  right: 28%;
  top: 49%;
  -webkit-transform: rotate(-45deg) translateY(-50%);
          transform: rotate(-45deg) translateY(-50%);
}

.p-index .c-img1--colorbg .c-imgtext1__text1 {
  padding-left: 0px;
  padding-right: 10px;
}

/* /////////////////////////// End Content Index.html ///////////////////////////////////// */
/*------------------------------------------------------------
index page
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
.p-news {
  overflow: hidden;
}

.p-news .c-banner {
  margin-bottom: 50px;
}

.p-news .c-banner__title {
  margin: 0 auto;
}

.p-news .c-banner__title p {
  padding-top: 100px;
}

.p-news .l-container {
  padding: 60px 0px;
  width: 1080px;
  margin: 0 auto;
}

.p-news .c-text p::after {
  display: block;
  content: "";
  padding: 15px 0px;
  clear: both;
}

.p-news .c-title1 {
  padding-bottom: 10px;
}

.p-news .c-title2 {
  margin: 15px 0px;
  margin-bottom: 20px;
}

.p-news .c-imgText2__text p::after {
  display: block;
  content: "";
  padding: 15px 0px;
  clear: both;
}

.p-news--bgcolor {
  background-color: #F7F7F7;
}

/* ///////////////////////////End Content news.html ///////////////////////////////////// */
/*------------------------------------------------------------
recruit page
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
.p-recruit .c-imgText2__text p {
  padding-bottom: 10px;
}

.p-recruit .c-banner {
  margin-bottom: 50px;
}

.p-recruit .c-banner__title {
  margin: 0 auto;
}

.p-recruit .c-banner__title p {
  padding-top: 100px;
}

.p-recruit .l-container {
  padding: 80px 0px;
}

.p-recruit .c-title1--left1::after {
  display: block;
  content: "";
  padding: 15px 0px;
  clear: both;
}

.p-recruit .c-table th,
.p-recruit .c-table td {
  padding: 8px;
  padding-left: 32px;
}

.p-recruit .c-table th {
  padding: 12px 0px;
}

.p-recruit .c-img {
  padding: 30px 40px;
}

.p-recruit .c-img img {
  padding-bottom: 15px;
}

.p-recruit .c-img .c-btn {
  padding: 0px;
  padding-top: 20px;
}

/* ///////////////////////////End Content recruit.html ///////////////////////////////////// */
