.is-current:hover,
.is-current:active,
.is-current:visited {
    overflow: hidden;
    width: auto;
    float: left;
    border-bottom: 4px solid #009FBB;
}

.active::after {
    background: #009FBB;
    content: "";
    height: 4px;
    left: 0 !important;
    position: absolute;
    top: 37px;
    transition: all 0.2s ease-out 0s;
    width: 100% !important;
}

.index {
    background: white;
    color: #0291AA !important;
    a::before {
        border: solid #0291AA !important;
        border-width: 0 2px 2px 0 !important;
    }
}

.is-click {
    color: gray !important;
}