//============================================
// style Meiryo
//============================================
@mixin styleText($color, $font-size) {
    font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
    font-weight: 500;
    color: $color;
    font-size: $font-size;
}

//////////////// breakdown //////////////////////////////////
@mixin breakdown {
    &::after {
        display: block;
        content: "";
        padding: 15px 0px;
        clear: both;
    }
}

@mixin breakdown2 {
    &::after {
        display: block;
        content: "";
        padding: 13px 0px;
        clear: both;
    }
}

//////////////// breakdown //////////////////////////////////
@mixin innerLayout {
    width: 1080px;
    margin: 0 auto;
    overflow: hidden;
}

////////////////@mixxin //////////////////////////////////
@mixin fontMeriyo {}