@charset "UTF-8";
/*------------------------------------------------------------
	Text Format
------------------------------------------------------------*/

/* text position */

.taLeft {
    text-align: left !important;
}

.taCenter {
    text-align: center !important;
}

.taRight {
    text-align: right !important;
}

.vTop {
    vertical-align: top !important;
}

.vMiddle {
    vertical-align: middle !important;
}

/* font weight */

.fwNormal {
    font-weight: normal !important;
}

.fwBold {
    font-weight: bold !important;
}

/*------------------------------------------------------------
	adjustment class ※ no use frequently
------------------------------------------------------------*/

.mt0 {
    margin-top: 0 !important;
}

.mb0 {
    margin-bottom: 0 !important;
}

/*------------------------------------------------------------
	clearfix（float解除）
------------------------------------------------------------*/

.clearfix {
    *zoom: 1;
    &:after {
        display: block;
        clear: both;
        content: "";
    }
}

.u-colorBlue {
    font-size: 20px !important;
    color: #035995 !important;
    font-weight: bold !important;
    p::after {
        display: none;
    }
}

/*------------------------------------------------------------
	for tracking tag
------------------------------------------------------------*/

.trackTags {
    display: none;
}

.bgcolor2 {
    background-color: #F7F7F7;
}

.bgcolor3 {
    background-color: #FFFFFF;
}