 /*----------------------Start footer---------------------*/
.c-footer {
    clear: both;
}
//-----------------------------------------------
.c-footer-1 {
    background-color: #003C7F;
    overflow: hidden;
    position: relative;
    //-----------------------------------------------
    .l-container {
        width: 1080px;
        position: relative;
        margin: auto;
        overflow: hidden;
    }
    //-----------------------------------------------
    &__btn-up {
        width: 50px;
        position: fixed;
        left: 50%;
        margin-left: 512px;
        right: 0px;
        float: right;
        bottom: 75px;
        a {
            transition:  all .3s;
            background-color: #0291AA;
            width: 50px;
            display: block;
            height: 60px;
            float: right;
            border-radius: 50%;
        }
        a:hover {
            opacity:0.7;
            transition: 0.5s;
        }
        a:before {
            position: absolute;
            content: "";
            border: solid #fff;
            border-width: 0 2px 2px 0;
            display: inline-block;
            padding: 9px;
            right: 45%;
            top: 49%;
            transform: rotate(225deg) translateY(50%);
        }
    }
    //-----------------------------------------------
    &__left {
        width: 420px;
        padding-top: 35px;
        float: left;
        img {
            width: 338px;
            float: left;
        }
        p {
            @include styleText(white, 12px);
            clear: both;
            padding: 15px 0px;
            padding-bottom: 30px;
            text-align: left;
        }
    }
    //-----------------------------------------------
    &__center {
        width: 240px;
        float: left;
        padding-left: 15px;
        top: 38px;
        position: relative;
        border-left: 1px solid gray;
        a {
            text-decoration: none;
            padding: 0px;
            text-align: left;
            @include styleText(white, 12px);
        }
        //-----------------------------------------------
        #tel {
            line-height: 45px;
            font-size: 28px;
            font-weight: bold;
            img {
                top: 9px;
                position: relative;
            }
        }
        //-----------------------------------------------
        #fax {
            line-height: 20px;
            @include styleText(white, 12px);
        }
        //-----------------------------------------------
        #date {
            display: block;
            @include styleText(white, 12px);
        }
    }
    //-----------------------------------------------
    &__right {
        width: 340px;
        float: left;
        top: 38px;
        position: relative;
        overflow: hidden;
        height: 97px;
    }
    //-----------------------------------------------
    &__desc {
        width: 310px;
        float: right;
        color: white;
        overflow: hidden;
        ul {
            display: inline;
        }
        li {
            float: left;
            width: 110px;
        }
        li:nth-of-type(2),
        li:nth-of-type(5) {
            padding-left: 20px;
            text-align: center;
            width: 90px;
        }
        li:nth-of-type(3),
        li:nth-of-type(6) {
            text-align: right;
            width: 90px;
        }
        a {
            @include styleText(white, 12px);
            text-decoration: none;
        }
    }
    //-----------------------------------------------
    &__btn {
        padding-top: 15px;
        margin: 0 auto;
        right: 0px;
        a {
            @include styleText(#003C7F, 14px);
            font-weight: bold;
            color: #003C7F;
            background-color: #fff;
            padding: 10px 25px;
            padding-top: 17px;
            border-radius: 5px;
            text-align: center;
            position: absolute;
            right: 0px;
            bottom: 0px;
            text-decoration: none;
        }
        a:hover {
            background-color: #6CACE0;
            transition: 0.5s;
        }
        img {
            position: relative;
            bottom: 6px;
        }
    }
}
/*------------------footer 2----------------------- */
.c-footer-2 {
    background-color: #002F64;
    .l-container{
        p {
            @include styleText(#608FBF, 12px);
            padding: 15px 0px;
            text-align: left;
        }
    }
}