/*-------------------- This is header------------*/

.c-header {
    //-----------------------------------------------
    .c-head {
        background-color: #015294;
        overflow: hidden;
    } 
    //-----------------------------------------------
    .l-container {
        p#text {
            padding: 20px 0px;
        }
        p {
            @include styleText(white, 12px);
            text-align: left;
            float: left;
            img {
                position: relative;
                top: 2px;
            }
        }
        a {
            text-decoration: none;
            img {
                position: relative;
                top: 2px;
            }
        }
    }
}

/*-------------------- This is link in header------------*/

.c-link {
    list-style-type: none;
    text-decoration: none;
    width: 570px;
    float: right;
    text-align: center; 
    //-----------------------------------------------
    &__link1 {
        width: 220px;
        padding: 12px 10px;
        float: left;
        a {
            font-size: 28px;
            font-weight: bold;
        }
    } 
    //-----------------------------------------------
    &__link2 {
        width: 150px !important;
        padding-top: 15px !important;
        float: left;
        a {
            text-align: left;
            float: left;
            @include styleText(white, 12px);
        }
    } 
    //-----------------------------------------------
    &__link3 {
        background-color: #009FBB;
        margin-top: 10px;
        border-radius: 5px;
        float: left;
        a {
            @include styleText(white, 14px);
            position: relative;
            text-align: center;
            display: block;
            padding: 8px 34px;
            padding-top: 10px;
            padding-bottom: 4px;
        }
        img {
            width: 20px;
            position: relative;
            top: -4px !important;
        }
    } 
    //-----------------------------------------------
    &__link3:hover {
        background-color: #0080AB;
        transition: 0.5s;
    }
}

/*-----------------This is gnavi-----------------*/

.c-horizontal-bar {
    overflow: hidden;
    .l-container {
        padding-bottom: 6px;
        height: 68px;
    }
    &__logo {
        width: 280px;
        float: left;
        margin-top: 11px;
        img {
            width: 100%;
        }
    }
}

//-----------------------------------------------
.l-container {
    .c-gnavi {
        display: block;
        width: 730px;
        float: right;
        ul {
            margin-top: 20px;
            display: inline;
            width: 730px;
            float: right;
        } 
        //-----------------------------------------------
        li {
            float: left;
            text-align: center;
            padding: 0px 6px;
            border-left: 1px solid gray;
        }
        a::after {
            background: #009FBB;
            content: "";
            height: 4px;
            left: 50%;
            position: absolute;
            top: 37px;
            transition: all 0.2s ease-out 0s;
            width: 0;
        }
        a:hover::after {
            left: 0;
            width: 100%;
        } 
        //-----------------------------------------------
        a {
            display: block;
            position: relative;
            text-decoration: none;
            img {
                top: 0px;
            }
        }
        li:last-child {
            border-right: 1px solid gray;
        } 
        //-----------------------------------------------
        span {
            display: block;
            @include styleText(black, 11px);
            padding-bottom: 2px;
        }
    }
}

/*-----------------End Header--------------*/