/*------------------------------------------------------------
layout
------------------------------------------------------------*/

/*
------------------------------------------------------------*/
body{
    min-width: 1140px;
}

.l-container {
    width: 1080px;
    margin: 0px auto;
    overflow: hidden;
}

/*
------------------------------------------------------------*/
.l-wrapper {
    display: flex;
}

/*
------------------------------------------------------------*/
// .l-main {
//     width: 95%;
// }
