.p-about{
    padding-top: 50px;
    background-color: #F9F2E4;
    /*-----------------------------------------------------*/
    .c-imgText3{
        &__img{
            padding-bottom: 30px;
        }
        &__text{
            
        }
        &__card{
        padding-bottom: 40px;
        }
    }
    /*-----------------------------------------------------*/
    .c-title2{
        &--color1{
            margin-bottom: 15px;
        }
    }
    /*-----------------------------------------------------*/
    .c-title{
        &--fullBorder{
            margin-bottom: 20px;
            span{
                margin:0 auto;

            }
        }
    }
    /*-----------------------------------------------------*/
    .c-slide{
        display: block;
        padding: 80px 0px;
    }
    /*-----------------------------------------------------*/
    .c-slideshow {
        img#pc {
            display: block;
        }
    }
    
/*-----------------------------------------------------*/
    .c-title2{
        &--color2{
            padding-bottom: 20px;
        }
    }
    /*-----------------------------------------------------*/
    .c-text2{
        padding-bottom: 50px;
    }
}