.p-class {
    background-color: #FAF2E4;
    padding-bottom: 50px;
    /*-----------------------------------------------------*/
    .c-title {
        p {
            padding: 0px 40px;
            margin: 0 auto;
        }
    }
    /*-----------------------------------------------------*/
    .c-list {
        padding-top: 40px;
        padding-bottom: 20px;
        /*-----------------------------------------------------*/
        &__card {
            margin-bottom: 20px;
        }
        /*-----------------------------------------------------*/
        &__info {
            p {
                padding: 10px 0px;
            }
            span {
                padding: 10px 20px;
                border-radius: 5px;
                margin: 10px auto;
            }
        }
        /*-----------------------------------------------------*/
        &__info2 {
            margin: 0 auto;
            padding: 17px 0px;
            p {
                padding: 9px 21px;
                margin-bottom: 15px;
            }
            h3 {
                padding: 14px 23px;
                margin-top: 10px;
            }
        }
        /*-----------------------------------------------------*/
    }
    /*-----------------------------------------------------*/
    .c-imgText2 {
        &__text {
            padding: 33px 77px;
        }
        .c-title2 {
            span {
                padding-bottom: 18px;
            }
            padding-bottom: 27px;
        }
    }
    /*-----------------------------------------------------*/
    .c-list3 {
        &__card {
            padding: 30px 26px;
            margin: 30px 0px;
            margin-left: 20px;
            &:nth-of-type(4n+1) {
                margin-left: 0px;
            }
        }
        &__info {}
        .c-title3 {
            padding-bottom: 15px;
        }
    }
    /*-----------------------------------------------------*/
    .c-table1 {
        margin-bottom: 30px;
        .c-title2 {
            padding-bottom: 30px;
            span {
                padding-bottom: 4px;
            }
        }
        /*-----------------------------------------------------*/
        &__intro {
            padding-bottom: 30px;
        }
        /*-----------------------------------------------------*/
        th,
        td {
            padding: 15px 20px;
        }
        th {
            padding: 15px 20px;
        }
    }
    /*-----------------------------------------------------*/
    .c-text1 {
        padding-left: 22px;
    }
    /*-----------------------------------------------------*/
    .c-class1 {
        width: 460px;
        padding-bottom: 30px;
        /*-----------------------------------------------------*/
        .c-title2 {
            &--smRectange {
                padding-bottom: 20px;
            }
        }
        /*-----------------------------------------------------*/
        &__info {
            @include styleText(black, 14px);
            text-align: left;
        }
        /*-----------------------------------------------------*/
        &__list {
            padding-top: 10px;
            display: flex;
            ul {
                padding-right: 20px;
            }
            li {
                @include styleText(black, 14px);
                text-align: left;
                font-weight: normal;
                letter-spacing: 1.5px;
            }
        }
        /*-----------------------------------------------------*/
    }
    /*-----------------------------------------------------*/
    .c-list3 {
        /*-----------------------------------------------------*/
        &--col2 {
            .c-list3__info {
                letter-spacing: 3px;
                padding-bottom: 20px;
            }
            /*-----------------------------------------------------*/
            .c-list3__card {
                width: 460px;
            }
            /*-----------------------------------------------------*/
            .c-list3__list {
                padding-bottom: 20px;
                li {
                    margin-left: 35px;
                }
            }
            /*-----------------------------------------------------*/
        }
    }
/*-----------------------------------------------------*/
    .c-banner{
        margin-top: 50px;
        /*-----------------------------------------------------*/
        .c-title3{
            padding-top: 25px;
        }
        /*-----------------------------------------------------*/
        &__card{
            padding: 25px 45px;
        }
        /*-----------------------------------------------------*/
        .c-btn1{
          padding: 22px 72px;
        }
      }
}