.p-event {
    background-color: #FAF2E4;
    padding: 60px 0px;
    /*-----------------------------------------------------*/
    .c-title2 {
        margin: 0 auto;
    }
    /*-----------------------------------------------------*/
    .c-imgText1 {
        padding: 40px 0px;
        /*-----------------------------------------------------*/
        &__img {
            margin-right: 20px;
        }
        /*-----------------------------------------------------*/
        &__text {
            p {
                margin-bottom: 20px;
            }
            img {
                margin-right: 10px;
            }
        }
        /*-----------------------------------------------------*/
        &--reverse {
            .c-imgText1__img {
                margin-right: 0px;
                margin-left: 20px;
            }
        }
    }
    /*-----------------------------------------------------*/
}