.p-top {
    background-color: #FAF2E4;
    /*-----------------------------------------------------*/
    .c-title {
        p {
            padding: 0px 40px;
            margin: 0 auto;
        }
    }
    /*-----------------------------------------------------*/
    .c-list {
        padding-top: 40px;
        padding-bottom: 20px;
        /*-----------------------------------------------------*/
        &__card {
            margin-bottom: 20px;
        }
        /*-----------------------------------------------------*/
        &__info {
            p {
                padding: 10px 0px;
            }
            span {
                padding: 10px 20px;
                border-radius: 5px;
                margin: 10px auto;
            }
        }
        /*-----------------------------------------------------*/
        &__info2 {
            margin: 0 auto;
            padding: 17px 0px;
            p {
                padding: 9px 21px;
                margin-bottom: 15px;
            }
            h3 {
                padding: 14px 23px;
                margin-top: 10px;
            }
        }
        /*-----------------------------------------------------*/
    }
    /*-----------------------------------------------------*/
    .c-list2{
        padding-bottom: 60px;
        /*-----------------------------------------------------*/
        &__info{
            margin: 10px;
            padding: 7px 0px;
            p{
                margin-top: 10px;
            }
        }
        /*-----------------------------------------------------*/
        &__info2{
            margin: 10px;
            padding: 7px 0px;
            margin-top: 26px;
            a{
                width: 84px;
                margin: 15px auto;
                padding: 3px 20px;
                &:hover {
                    background-color: rgb(16, 131, 102);
                }
            }
        }
        /*-----------------------------------------------------*/
        &__btn{
            padding: 6px 29px;
        }
        /*-----------------------------------------------------*/
    }
}