@charset "UTF-8";
/*------------------------------------------------------------
	Default
------------------------------------------------------------*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, dialog, figure, footer, header, button,
hgroup, menu, nav, section,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 1em;
}

html {
  font-size: 62.5%;
}

body, table,
input, textarea, select, option, button,
h1, h2, h3, h4, h5, h6 {
  font-family: 游ゴシック体, 'Yu Gothic', YuGothic, 'ヒラギノ角ゴシック Pro', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
  line-height: 1.1;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
}

table,
input, textarea, select, option {
  line-height: 1.1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

:focus {
  outline: 0;
}

ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

img {
  vertical-align: top;
}

/*------------------------------------------------------------
	Text Format
------------------------------------------------------------*/
/* text position */
.taLeft {
  text-align: left !important;
}

.taCenter {
  text-align: center !important;
}

.taRight {
  text-align: right !important;
}

.vTop {
  vertical-align: top !important;
}

.vMiddle {
  vertical-align: middle !important;
}

/* font weight */
.fwNormal {
  font-weight: normal !important;
}

.fwBold {
  font-weight: bold !important;
}

/*------------------------------------------------------------
	adjustment class ※ no use frequently
------------------------------------------------------------*/
.mt0 {
  margin-top: 0 !important;
}

.mb0 {
  margin-bottom: 0 !important;
}

/*------------------------------------------------------------
	clearfix（float解除）
------------------------------------------------------------*/
.clearfix {
  *zoom: 1;
}

.clearfix:after {
  display: block;
  clear: both;
  content: "";
}

/*------------------------------------------------------------
	for tracking tag
------------------------------------------------------------*/
.trackTags {
  display: none;
}

.active::after {
  background: #CCCCCC;
  content: "";
  height: 4px;
  left: 0 !important;
  position: absolute;
  top: 37px;
  -webkit-transition: all 0.2s ease-out 0s;
  transition: all 0.2s ease-out 0s;
  width: 98% !important;
}

.c-header {
  background-image: url(../img/Header/Background_Top.png);
  height: 610px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.c-header h1 {
  margin: 0 auto;
  padding-top: 230px;
  width: 655px;
}

/*-----------------------------------------------------*/
.c-header3 {
  background-image: url(../img/Event/header_01.png);
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.c-header3 p {
  font-family: "Noto Sans Japanese";
  font-weight: 500;
  color: white;
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 5px;
}

.c-header3--class {
  background-image: url(../img/Class/header_01.png);
}

.c-header3--about {
  background-image: url(../img/About/header_01.png);
}

/*-----------------------------------------------------*/
.c-header2 {
  background-color: white;
  padding-top: 22px;
}

.c-header2 ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

/*-----------------------------------------------------*/
footer {
  background-color: #F2EADB;
}

/*-----------------------------------------------------*/
.c-fooContact {
  padding-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #F2EADB;
  padding-bottom: 78px;
  /*-----------------------------------------------------*/
  /*-----------------------------------------------------*/
}

.c-fooContact--contact2 .c-contact2 {
  margin-top: 0px;
}

.c-fooContact--ver2 .c-contact1 {
  padding-right: 20px;
}

/*-----------------------------------------------------*/
.c-contact1 {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 460px;
  /*-----------------------------------------------------*/
  /*-----------------------------------------------------*/
  /*-----------------------------------------------------*/
  /*-----------------------------------------------------*/
  /*-----------------------------------------------------*/
}

.c-contact1__title {
  font-family: "Noto Sans Japanese";
  font-weight: 500;
  color: black;
  font-size: 22px;
  font-weight: bold;
  text-align: center;
  z-index: 1;
  position: relative;
  display: block;
}

.c-contact1__title span {
  padding: 0px 20px;
  background: #F2EADB;
}

.c-contact1__title::before {
  border-top: 2px solid #CDCDCC;
  content: "";
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  z-index: -1;
}

.c-contact1 ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.c-contact1 li {
  width: 220px;
  margin-top: 20px;
}

.c-contact1 a {
  display: block;
  text-decoration: none;
  position: relative;
}

.c-contact1 img:hover {
  opacity: 0.75;
}

.c-contact1 p#text1 {
  background-color: #00634B;
  font-family: "Noto Sans Japanese";
  font-weight: 500;
  color: white;
  font-size: 16px;
  font-weight: bold;
  height: 74px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.c-contact1 p#text1:hover {
  background-color: #108366;
}

.c-contact1 p#text2 {
  position: absolute;
  top: 0px;
  left: 0px;
  display: block;
  font-family: "Noto Sans Japanese";
  font-weight: 500;
  color: white;
  font-size: 12px;
  background: #FAB445;
  text-align: center;
  width: 106px;
}

.c-contact1 iframe {
  width: 100%;
}

/*-----------------------------------------------------*/
.c-contact2 {
  -webkit-box-flex: 0.96;
      -ms-flex: 0.96;
          flex: 0.96;
  width: 480px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 13px;
  /*-----------------------------------------------------*/
  /*-----------------------------------------------------*/
}

.c-contact2 a {
  width: 48%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 110px;
}

.c-contact2 a img:hover {
  opacity: 0.75;
}

.c-contact2__item1 {
  background-color: #00634B;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 5px;
}

.c-contact2__item1:hover {
  background-color: #0d755b;
}

.c-contact2__item2 {
  height: 61px !important;
  border-radius: 5px;
  border: 1px solid grey;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #fff;
}

.c-contact2__item2:hover {
  background-color: whitesmoke;
}

/*-----------------------------------------------------*/
.fooLinks {
  background-color: black;
  display: block;
}

/*-----------------------------------------------------*/
.fooLink {
  padding: 50px 0px;
  padding-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: left;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.fooLink ul {
  padding-left: 10px;
}

.fooLink a {
  line-height: 20px;
  text-align: left;
  text-decoration: underline;
  font-family: "Noto Sans Japanese";
  font-weight: 500;
  color: white;
  font-size: 12px;
}

.fooLink .title {
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 10px;
  margin-top: 20px;
  display: block;
}

/*-----------------------------------------------------*/
.c-fooCopyLogo {
  background-color: #00634B;
  /*-----------------------------------------------------*/
}

.c-fooCopyLogo ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.c-fooCopyLogo li {
  padding: 48px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.c-fooCopyLogo li:first-child {
  margin-right: 30px;
  -webkit-box-flex: 0.65;
      -ms-flex: 0.65;
          flex: 0.65;
}

.c-fooCopyLogo li:first-child img {
  width: 223px;
}

.c-fooCopyLogo li:nth-of-type(2) {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

.c-fooCopyLogo p {
  font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
  font-weight: 500;
  color: white;
  font-size: 13px;
  text-align: left;
}

/*-----------------------------------------------------*/
/*------------------------------------------------------------
	Layout
------------------------------------------------------------*/
body {
  width: 100%;
  min-width: 940px;
  line-height: 1.5;
  text-align: center;
}

.l-main {
  width: 940px;
  margin: 0 auto;
}

/*------------------------------------------------------------
	header
------------------------------------------------------------*/
#header {
  padding-bottom: 10px;
  background-color: #F9F2E4;
}

/*------------------------------------------------------------
	Navi
------------------------------------------------------------*/
#gNavi {
  margin-bottom: 10px;
}

#gNavi li {
  width: 160px;
  background-color: #efefef;
  float: left;
}

#gNavi li a {
  padding: 10px 0;
  display: block;
  text-decoration: none;
  text-align: center;
}

/*------------------------------------------------------------
	Breadcrumbs
------------------------------------------------------------*/
#pagePath {
  margin-bottom: 10px;
}

#pagePath li {
  margin-right: 2px;
  display: inline;
}

#pagePath li a {
  margin-right: 5px;
}

/*------------------------------------------------------------
	contentc
------------------------------------------------------------*/
#conts {
  width: 580px;
  float: left;
}

/*------------------------------------------------------------
	side
------------------------------------------------------------*/
#sideBar {
  padding: 50px 0;
  width: 200px;
  background-color: #efefef;
  float: right;
}

/*------------------------------------------------------------
	footer
------------------------------------------------------------*/
#footer {
  padding: 10px 10px 5px;
  background-color: #efefef;
}

/*------------------------------------------------------------
btn
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
.c-btn1 {
  background-color: #00634B;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
  /*-----------------------------------------------------*/
  /*-----------------------------------------------------*/
}

.c-btn1 img {
  width: 24px;
  height: 20px;
  position: relative;
  top: 8px;
  right: 5px;
}

.c-btn1 p {
  font-family: "Noto Sans Japanese";
  font-weight: 500;
  color: white;
  font-size: 22px;
}

/*------------------------------------------------------------
title
------------------------------------------------------------*/
/*-----------------------------------------------------*/
.c-title {
  position: relative;
  z-index: 1;
  /*-----------------------------------------------------*/
}

.c-title p {
  font-family: "Noto Sans Japanese";
  font-weight: 500;
  color: black;
  font-size: 29px;
  font-weight: bold;
  background-color: #FAF2E4;
  width: 343px;
}

.c-title p span {
  font-size: 18px;
}

.c-title::before {
  border-top: 2px solid #dfdfdf;
  content: "";
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  bottom: 0;
  width: 95%;
  z-index: -1;
}

.c-title--fullBorder {
  -webkit-box-flex: 1.8;
      -ms-flex: 1.8;
          flex: 1.8;
}

.c-title--fullBorder span {
  font-size: 18px;
  font-weight: bold;
  color: #00634B;
  letter-spacing: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 438px;
  height: 75px;
  background-color: #F9F2E4;
}

.c-title--fullBorder::before {
  border: 2px solid #0B654B !important;
  top: 0%;
  width: 99%;
}

/*-----------------------------------------------------*/
.c-title2 {
  /*-----------------------------------------------------*/
  /*-----------------------------------------------------*/
  /*-----------------------------------------------------*/
}

.c-title2 span {
  display: inline-block;
  font-family: "Noto Sans Japanese";
  font-weight: 500;
  color: #00634B;
  font-size: 30px;
  font-weight: bold;
  border-bottom: 3px solid #00634B;
}

.c-title2--smRectange {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.c-title2--smRectange::before {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 30px;
  height: 5px;
  content: '';
  display: block;
  background-color: #FAB445;
  margin-right: 10px;
}

.c-title2--smRectange span {
  text-align: left;
  -webkit-box-flex: 15;
      -ms-flex: 15;
          flex: 15;
  border-bottom: none;
  color: black;
  font-size: 20px;
}

.c-title2--color1 span {
  color: black;
  border-color: black;
  font-size: 20px;
  letter-spacing: 2px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.c-title2--color2 span {
  color: black;
  border-color: black;
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 2px;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border-bottom: none;
}

/*-----------------------------------------------------*/
.c-title3 {
  font-family: "Noto Sans Japanese";
  font-weight: 500;
  color: #00634B;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 1.5px;
  display: block;
}

/*-----------------------------------------------------*/
/*------------------------------------------------------------
icon
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
/*------------------------------------------------------------
form
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
/*------------------------------------------------------------
text
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
.c-text1 {
  text-align: left;
  font-family: "Noto Sans Japanese";
  font-weight: 500;
  color: black;
  font-size: 14px;
  letter-spacing: 2.5px;
  list-style-image: url("../img/Class/icon_01.png");
}

/*-----------------------------------------------------*/
.c-text2 {
  font-family: "Noto Sans Japanese";
  font-weight: 500;
  color: black;
  font-size: 18px;
  letter-spacing: 2.5px;
  text-align: center;
}

/*------------------------------------------------------------
navi
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
.c-gnavi {
  background-color: #F9F2E4;
  padding: 30px 0px;
  /*-----------------------------------------------------*/
  /*-----------------------------------------------------*/
}

.c-gnavi ul {
  width: 940px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.c-gnavi li {
  width: 25%;
  border-right: 1px solid #CCCCCC;
  border-left: 1px solid #CCCCCC;
}

.c-gnavi a {
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  font-family: "Noto Sans Japanese";
  font-weight: 500;
  color: #333333;
  font-size: 16px;
  position: relative;
}

.c-gnavi a::after {
  background: #CCCCCC;
  content: "";
  height: 4px;
  left: 50%;
  position: absolute;
  top: 47px;
  -webkit-transition: all 0.2s ease-out 0s;
  transition: all 0.2s ease-out 0s;
  width: 0;
}

.c-gnavi a:hover::after {
  left: 0;
  width: 98%;
}

.c-gnavi--navi2 {
  background-color: #FFFFFF;
}

/*------------------------------------------------------------
img
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
.c-imgText1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  /*-----------------------------------------------------*/
  /*-----------------------------------------------------*/
  /*-----------------------------------------------------*/
}

.c-imgText1__img {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.c-imgText1__img img {
  width: 300px;
  height: 169px;
}

.c-imgText1__text {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  position: relative;
}

.c-imgText1__text p {
  text-align: left;
  font-family: "Noto Sans Japanese";
  font-weight: 500;
  color: black;
  font-size: 14px;
}

.c-imgText1__text a {
  left: 0px;
  text-align: left;
  text-decoration: underline;
  bottom: 10px;
  position: absolute;
  text-align: left;
  font-family: "Noto Sans Japanese";
  font-weight: 500;
  color: black;
  font-size: 14px;
}

.c-imgText1--reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

/*-----------------------------------------------------*/
.c-imgText2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #00634B;
  /*-----------------------------------------------------*/
  /*-----------------------------------------------------*/
  /*-----------------------------------------------------*/
}

.c-imgText2__text {
  -webkit-box-flex: 1.3;
      -ms-flex: 1.3;
          flex: 1.3;
}

.c-imgText2 .c-title2 span {
  color: white;
  border-bottom: 2px solid white;
}

.c-imgText2__info {
  font-family: "Noto Sans Japanese";
  font-weight: 500;
  color: white;
  font-size: 14px;
  text-align: left;
}

.c-imgText2__img {
  -webkit-box-flex: 1.7;
      -ms-flex: 1.7;
          flex: 1.7;
}

/*-----------------------------------------------------*/
.c-imgText3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  /*-----------------------------------------------------*/
  /*-----------------------------------------------------*/
  /*-----------------------------------------------------*/
}

.c-imgText3__img {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.c-imgText3__text {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  font-family: "Noto Sans Japanese";
  font-weight: 500;
  color: black;
  font-size: 14px;
  text-align: left;
  letter-spacing: 2.5px;
}

.c-imgText3__card {
  width: 460px;
  display: block;
}

/*------------------------------------------------------------
list
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
.c-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  /*-----------------------------------------------------*/
  /*-----------------------------------------------------*/
  /*-----------------------------------------------------*/
  /*-----------------------------------------------------*/
}

.c-list__card {
  width: 220px;
  display: block;
  text-decoration: none;
}

.c-list__card:last-child {
  background-color: black;
  border-radius: 5px;
}

.c-list__img img:hover {
  opacity: 0.75;
}

.c-list__info {
  background-color: #00634B;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.c-list__info:hover {
  background-color: #108366;
}

.c-list__info:hover span {
  background-color: #04644c;
}

.c-list__info p {
  font-family: "Noto Sans Japanese";
  font-weight: 500;
  color: white;
  font-size: 20px;
  font-weight: bold;
}

.c-list__info span {
  font-weight: 500;
  font-size: 12px;
  display: block;
  background-color: #004534;
  width: 84px;
}

.c-list__info2 {
  width: 180px;
  /*-----------------------------------------------------*/
  /*-----------------------------------------------------*/
  /*-----------------------------------------------------*/
}

.c-list__info2 p {
  font-family: "Noto Sans Japanese";
  font-weight: 500;
  color: white;
  font-size: 14px;
  background-color: #00634B;
  position: relative;
}

.c-list__info2 p::after {
  content: '';
  width: 0%;
  height: 0px;
  margin: 0 auto;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 20px solid #00634B;
  -webkit-transition: 0.8s 0.2s;
  transition: 0.8s 0.2s;
  left: 45%;
  bottom: -12px;
  position: absolute;
}

.c-list__info2 h1 {
  font-family: "Noto Sans Japanese";
  font-weight: 500;
  color: white;
  font-size: 24px;
}

.c-list__info2 h3 {
  font-family: "Noto Sans Japanese";
  font-weight: 500;
  color: black;
  font-size: 16px;
  background-color: #FAB445;
  border-radius: 5px;
}

.c-list__info2 h3:hover {
  background-color: #eba433;
}

/*-----------------------------------------------------*/
.c-list2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  /*-----------------------------------------------------*/
  /*-----------------------------------------------------*/
  /*-----------------------------------------------------*/
  /*-----------------------------------------------------*/
  /*-----------------------------------------------------*/
  /*-----------------------------------------------------*/
}

.c-list2__card {
  height: 150px;
  width: 460px;
  position: relative;
  background-image: url(../img/Top/image_08.png);
  background-size: cover;
}

.c-list2__info {
  background-color: #FAB445;
  opacity: 0.75;
  width: 260px;
}

.c-list2__info p {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  color: black;
  font-size: 14px;
}

.c-list2__info2 {
  width: 260px;
}

.c-list2__info2 a {
  display: block;
  text-decoration: none;
  font-family: "Noto Sans Japanese";
  font-weight: 500;
  color: white;
  font-size: 12px;
  background-color: #00634B;
  border-radius: 3px;
}

.c-list2__card2 {
  height: 150px;
  width: 460px;
  background-image: url(../img/Top/image_09.png);
  background-size: cover;
  border: 1px solid #DFDCD7;
  border-radius: 5px;
}

.c-list2__btn {
  background-color: black;
  text-decoration: none;
  position: absolute;
  bottom: 8%;
  right: 7%;
  border-radius: 5px;
  font-family: "Noto Sans Japanese";
  font-weight: 500;
  color: white;
  font-size: 12px;
}

.c-list2__btn:hover {
  background-color: #292929;
}

/*-----------------------------------------------------*/
.c-list3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  /*-----------------------------------------------------*/
  /*-----------------------------------------------------*/
  /*-----------------------------------------------------*/
}

.c-list3__card {
  width: 220px;
  background-color: #E5F5E9;
}

.c-list3__info {
  text-align: left;
  font-family: "Noto Sans Japanese";
  font-weight: 500;
  color: black;
  font-size: 14px;
}

.c-list3--col2 {
  /*-----------------------------------------------------*/
  /*-----------------------------------------------------*/
  /*-----------------------------------------------------*/
  /*-----------------------------------------------------*/
}

.c-list3--col2 .c-list3__card {
  width: 460px;
  display: block;
}

.c-list3--col2 .c-title3 {
  -webkit-box-flex: 0;
      -ms-flex: 0;
          flex: 0;
}

.c-list3--col2 .c-list3__info {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  font-weight: normal;
  height: 80px;
}

.c-list3--col2 .c-list3__list {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 110px;
}

.c-list3--col2 .c-list3__list li {
  font-family: "Noto Sans Japanese";
  font-weight: 500;
  color: black;
  font-size: 14px;
  font-weight: normal;
  text-align: left;
}

.c-list3--col2 .c-list3__text {
  -webkit-box-flex: 0;
      -ms-flex: 0;
          flex: 0;
  font-family: "Noto Sans Japanese";
  font-weight: 500;
  color: black;
  font-size: 14px;
  text-align: left;
  font-weight: normal;
}

/*-----------------------------------------------------*/
/*------------------------------------------------------------
table
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
.c-table1 {
  /*-----------------------------------------------------*/
  /*-----------------------------------------------------*/
  /*-----------------------------------------------------*/
  /*-----------------------------------------------------*/
  /*-----------------------------------------------------*/
  /*-----------------------------------------------------*/
}

.c-table1 .c-title2 {
  text-align: left;
}

.c-table1 .c-title2 span {
  color: black;
  font-size: 20px;
  border-bottom: 2px solid black;
}

.c-table1__intro {
  text-align: left;
  font-family: "Noto Sans Japanese";
  font-weight: 500;
  color: black;
  font-size: 14px;
  letter-spacing: 4.2px;
}

.c-table1 table {
  width: 940px;
  border-collapse: collapse;
}

.c-table1 th,
.c-table1 td {
  border: 1px solid #00634b;
  text-align: center;
  font-family: "Noto Sans Japanese";
  font-weight: 500;
  color: black;
  font-size: 15px;
  font-weight: normal;
}

.c-table1 tr {
  background-color: #fff;
}

.c-table1 th {
  border: 1px solid #fff;
  background: #00634b;
  font-family: "Noto Sans Japanese";
  font-weight: 500;
  color: #fff;
  font-size: 15px;
}

.c-table1 .bg {
  background: #e5f5e9;
}

.c-table1 .sTxt {
  font-size: 14px;
}

.c-table1 .rTxt {
  text-align: right;
}

.c-table1 .lTxt {
  text-align: left;
}

/*------------------------------------------------------------
line
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
/*------------------------------------------------------------
video
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
/*------------------------------------------------------------
video
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
.c-slide {
  background-color: #E5F5E9;
}

.c-slide--slide2 {
  background-color: #F9F2E4;
}

/*-----------------------------------------------------*/
.c-slideshow {
  max-width: 1140px;
  margin: 0 auto;
  clear: both;
  position: relative;
  display: inline-block;
  /*-----------------------------------------------------*/
  /*-----------------------------------------------------*/
  /*-----------------------------------------------------*/
  /*-----------------------------------------------------*/
}

.c-slideshow img#pc {
  display: block;
}

.c-slideshow .c-slider1 {
  clear: both;
  position: relative;
  /*-----------------------------------------------------*/
  /*-----------------------------------------------------*/
  /*-----------------------------------------------------*/
}

.c-slideshow .c-slider1 .display-btn {
  display: block;
  cursor: pointer;
  width: 374px;
  background: #930000;
  border-radius: 3px;
  -webkit-box-shadow: 0px 7px #660000;
          box-shadow: 0px 7px #660000;
  position: absolute;
  top: 78%;
  left: 35%;
}

.c-slideshow .c-slider1 .display-btn p {
  margin: 0px;
  padding: 15px 0px;
  text-align: center;
  font-size: 20px;
  color: white;
  font-family: Noto Sans JP Regular Regular;
}

.c-slideshow .c-slider1 .display-btn-2 {
  position: relative;
  margin: 0 auto;
  bottom: 100px;
  display: none;
}

.c-slideshow .move-left {
  display: block;
  color: black;
  font-size: 40px;
  cursor: pointer;
  position: absolute;
  top: 40%;
  left: -12%;
  width: 40px;
  height: 40px;
  display: block;
  background-color: #0B654B;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.c-slideshow .move-right {
  display: block;
  color: black;
  font-size: 40px;
  cursor: pointer;
  position: absolute;
  top: 40%;
  right: -12%;
  width: 40px;
  height: 40px;
  display: block;
  background-color: #0B654B;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/*-----------------------------------------------------*/
.c-dots {
  width: 220px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  text-align: center;
  position: relative;
  top: 16px;
  /*-----------------------------------------------------*/
  /*-----------------------------------------------------*/
  /*-----------------------------------------------------*/
}

.c-dots .dot1 {
  height: 12px;
  cursor: pointer;
  width: 12px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  -webkit-transition: background-color 0.6s ease;
  transition: background-color 0.6s ease;
}

.c-dots .active,
.c-dots .dot1:hover {
  background: #00634B;
}

.c-dots .active::after {
  display: none;
}

.c-dots .dot-white {
  border-radius: 50%;
  display: inline-block;
  border: 3px solid #bbb;
  background-color: white;
  height: 14px;
  cursor: pointer;
  width: 14px;
}

.c-dots--dot2 {
  background-color: #bbb;
}

/*------------------------------------------------------------
other
------------------------------------------------------------*/
/*
------------------------------------------------------------*/
.c-banner {
  background-color: #fff;
  border: 3px solid #DDDDDD;
  display: block;
  overflow: hidden;
  /*-----------------------------------------------------*/
  /*-----------------------------------------------------*/
  /*-----------------------------------------------------*/
  /*-----------------------------------------------------*/
}

.c-banner .c-title3 {
  color: black;
}

.c-banner__card {
  overflow: hidden;
}

.c-banner__img {
  width: 425px;
  float: left;
}

.c-banner .c-btn1 {
  width: 200px;
  margin-left: 0px;
  float: left;
}

.c-banner .c-btn1:hover {
  background-color: #12775e;
}

/*
* Noto Sans Japanese (japanese) http://www.google.com/fonts/earlyaccess
 */
@font-face {
  font-family: 'Noto Sans Japanese';
  font-style: normal;
  font-weight: 100;
  src: url(//fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Thin.woff2) format("woff2"), url(//fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Thin.woff) format("woff"), url(//fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Thin.otf) format("opentype");
}

/*-----------------------------------------------------*/
@font-face {
  font-family: 'Noto Sans Japanese';
  font-style: normal;
  font-weight: 200;
  src: url(//fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Light.woff2) format("woff2"), url(//fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Light.woff) format("woff"), url(//fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Light.otf) format("opentype");
}

/*-----------------------------------------------------*/
@font-face {
  font-family: 'Noto Sans Japanese';
  font-style: normal;
  font-weight: 300;
  src: url(//fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-DemiLight.woff2) format("woff2"), url(//fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-DemiLight.woff) format("woff"), url(//fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-DemiLight.otf) format("opentype");
}

/*-----------------------------------------------------*/
@font-face {
  font-family: 'Noto Sans Japanese';
  font-style: normal;
  font-weight: 400;
  src: url(//fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Regular.woff2) format("woff2"), url(//fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Regular.woff) format("woff"), url(//fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Regular.otf) format("opentype");
}

/*-----------------------------------------------------*/
@font-face {
  font-family: 'Noto Sans Japanese';
  font-style: normal;
  font-weight: 500;
  src: url(//fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Medium.woff2) format("woff2"), url(//fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Medium.woff) format("woff"), url(//fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Medium.otf) format("opentype");
}

/*-----------------------------------------------------*/
@font-face {
  font-family: 'Noto Sans Japanese';
  font-style: normal;
  font-weight: 700;
  src: url(//fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Bold.woff2) format("woff2"), url(//fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Bold.woff) format("woff"), url(//fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Bold.otf) format("opentype");
}

/*-----------------------------------------------------*/
@font-face {
  font-family: 'Noto Sans Japanese';
  font-style: normal;
  font-weight: 900;
  src: url(//fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Black.woff2) format("woff2"), url(//fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Black.woff) format("woff"), url(//fonts.gstatic.com/ea/notosansjapanese/v6/NotoSansJP-Black.otf) format("opentype");
}

.p-about {
  padding-top: 50px;
  background-color: #F9F2E4;
  /*-----------------------------------------------------*/
  /*-----------------------------------------------------*/
  /*-----------------------------------------------------*/
  /*-----------------------------------------------------*/
  /*-----------------------------------------------------*/
  /*-----------------------------------------------------*/
  /*-----------------------------------------------------*/
}

.p-about .c-imgText3__img {
  padding-bottom: 30px;
}

.p-about .c-imgText3__card {
  padding-bottom: 40px;
}

.p-about .c-title2--color1 {
  margin-bottom: 15px;
}

.p-about .c-title--fullBorder {
  margin-bottom: 20px;
}

.p-about .c-title--fullBorder span {
  margin: 0 auto;
}

.p-about .c-slide {
  display: block;
  padding: 80px 0px;
}

.p-about .c-slideshow img#pc {
  display: block;
}

.p-about .c-title2--color2 {
  padding-bottom: 20px;
}

.p-about .c-text2 {
  padding-bottom: 50px;
}

.p-class {
  background-color: #FAF2E4;
  padding-bottom: 50px;
  /*-----------------------------------------------------*/
  /*-----------------------------------------------------*/
  /*-----------------------------------------------------*/
  /*-----------------------------------------------------*/
  /*-----------------------------------------------------*/
  /*-----------------------------------------------------*/
  /*-----------------------------------------------------*/
  /*-----------------------------------------------------*/
  /*-----------------------------------------------------*/
}

.p-class .c-title p {
  padding: 0px 40px;
  margin: 0 auto;
}

.p-class .c-list {
  padding-top: 40px;
  padding-bottom: 20px;
  /*-----------------------------------------------------*/
  /*-----------------------------------------------------*/
  /*-----------------------------------------------------*/
  /*-----------------------------------------------------*/
}

.p-class .c-list__card {
  margin-bottom: 20px;
}

.p-class .c-list__info p {
  padding: 10px 0px;
}

.p-class .c-list__info span {
  padding: 10px 20px;
  border-radius: 5px;
  margin: 10px auto;
}

.p-class .c-list__info2 {
  margin: 0 auto;
  padding: 17px 0px;
}

.p-class .c-list__info2 p {
  padding: 9px 21px;
  margin-bottom: 15px;
}

.p-class .c-list__info2 h3 {
  padding: 14px 23px;
  margin-top: 10px;
}

.p-class .c-imgText2__text {
  padding: 33px 77px;
}

.p-class .c-imgText2 .c-title2 {
  padding-bottom: 27px;
}

.p-class .c-imgText2 .c-title2 span {
  padding-bottom: 18px;
}

.p-class .c-list3__card {
  padding: 30px 26px;
  margin: 30px 0px;
  margin-left: 20px;
}

.p-class .c-list3__card:nth-of-type(4n+1) {
  margin-left: 0px;
}

.p-class .c-list3 .c-title3 {
  padding-bottom: 15px;
}

.p-class .c-table1 {
  margin-bottom: 30px;
  /*-----------------------------------------------------*/
  /*-----------------------------------------------------*/
}

.p-class .c-table1 .c-title2 {
  padding-bottom: 30px;
}

.p-class .c-table1 .c-title2 span {
  padding-bottom: 4px;
}

.p-class .c-table1__intro {
  padding-bottom: 30px;
}

.p-class .c-table1 th,
.p-class .c-table1 td {
  padding: 15px 20px;
}

.p-class .c-table1 th {
  padding: 15px 20px;
}

.p-class .c-text1 {
  padding-left: 22px;
}

.p-class .c-class1 {
  width: 460px;
  padding-bottom: 30px;
  /*-----------------------------------------------------*/
  /*-----------------------------------------------------*/
  /*-----------------------------------------------------*/
  /*-----------------------------------------------------*/
}

.p-class .c-class1 .c-title2--smRectange {
  padding-bottom: 20px;
}

.p-class .c-class1__info {
  font-family: "Noto Sans Japanese";
  font-weight: 500;
  color: black;
  font-size: 14px;
  text-align: left;
}

.p-class .c-class1__list {
  padding-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.p-class .c-class1__list ul {
  padding-right: 20px;
}

.p-class .c-class1__list li {
  font-family: "Noto Sans Japanese";
  font-weight: 500;
  color: black;
  font-size: 14px;
  text-align: left;
  font-weight: normal;
  letter-spacing: 1.5px;
}

.p-class .c-list3 {
  /*-----------------------------------------------------*/
}

.p-class .c-list3--col2 {
  /*-----------------------------------------------------*/
  /*-----------------------------------------------------*/
  /*-----------------------------------------------------*/
}

.p-class .c-list3--col2 .c-list3__info {
  letter-spacing: 3px;
  padding-bottom: 20px;
}

.p-class .c-list3--col2 .c-list3__card {
  width: 460px;
}

.p-class .c-list3--col2 .c-list3__list {
  padding-bottom: 20px;
}

.p-class .c-list3--col2 .c-list3__list li {
  margin-left: 35px;
}

.p-class .c-banner {
  margin-top: 50px;
  /*-----------------------------------------------------*/
  /*-----------------------------------------------------*/
  /*-----------------------------------------------------*/
}

.p-class .c-banner .c-title3 {
  padding-top: 25px;
}

.p-class .c-banner__card {
  padding: 25px 45px;
}

.p-class .c-banner .c-btn1 {
  padding: 22px 72px;
}

.p-event {
  background-color: #FAF2E4;
  padding: 60px 0px;
  /*-----------------------------------------------------*/
  /*-----------------------------------------------------*/
  /*-----------------------------------------------------*/
}

.p-event .c-title2 {
  margin: 0 auto;
}

.p-event .c-imgText1 {
  padding: 40px 0px;
  /*-----------------------------------------------------*/
  /*-----------------------------------------------------*/
  /*-----------------------------------------------------*/
}

.p-event .c-imgText1__img {
  margin-right: 20px;
}

.p-event .c-imgText1__text p {
  margin-bottom: 20px;
}

.p-event .c-imgText1__text img {
  margin-right: 10px;
}

.p-event .c-imgText1--reverse .c-imgText1__img {
  margin-right: 0px;
  margin-left: 20px;
}

.p-top {
  background-color: #FAF2E4;
  /*-----------------------------------------------------*/
  /*-----------------------------------------------------*/
  /*-----------------------------------------------------*/
}

.p-top .c-title p {
  padding: 0px 40px;
  margin: 0 auto;
}

.p-top .c-list {
  padding-top: 40px;
  padding-bottom: 20px;
  /*-----------------------------------------------------*/
  /*-----------------------------------------------------*/
  /*-----------------------------------------------------*/
  /*-----------------------------------------------------*/
}

.p-top .c-list__card {
  margin-bottom: 20px;
}

.p-top .c-list__info p {
  padding: 10px 0px;
}

.p-top .c-list__info span {
  padding: 10px 20px;
  border-radius: 5px;
  margin: 10px auto;
}

.p-top .c-list__info2 {
  margin: 0 auto;
  padding: 17px 0px;
}

.p-top .c-list__info2 p {
  padding: 9px 21px;
  margin-bottom: 15px;
}

.p-top .c-list__info2 h3 {
  padding: 14px 23px;
  margin-top: 10px;
}

.p-top .c-list2 {
  padding-bottom: 60px;
  /*-----------------------------------------------------*/
  /*-----------------------------------------------------*/
  /*-----------------------------------------------------*/
  /*-----------------------------------------------------*/
}

.p-top .c-list2__info {
  margin: 10px;
  padding: 7px 0px;
}

.p-top .c-list2__info p {
  margin-top: 10px;
}

.p-top .c-list2__info2 {
  margin: 10px;
  padding: 7px 0px;
  margin-top: 26px;
}

.p-top .c-list2__info2 a {
  width: 84px;
  margin: 15px auto;
  padding: 3px 20px;
}

.p-top .c-list2__info2 a:hover {
  background-color: #108366;
}

.p-top .c-list2__btn {
  padding: 6px 29px;
}
