/*------------------------------------------------------------
business page
------------------------------------------------------------*/

/*
------------------------------------------------------------*/

.p-business {
    .c-banner {
        margin-bottom: 50px;
        &__title {
            margin: 0 auto;
            p {
                padding-top: 100px;
                img {}
            }
        }
    } 
    //------------------------------------------------------
    .c-imgText2 {
        //------------------------------------------------------
        .c-imgText2:last-child {
            margin-bottom: 120px;
        } 
       //-----------------------------------------------
        &__left {
            flex: 1.6; 
            &--txt {
                padding: 0px;
            } 
            &--txt::after {
                padding: 0px !important;
            }
        } 
        //------------------------------------------------------
        p {
            @include breakdown;
        } 
        &--imgText3 {
            margin-top: 114px;
            margin: 0 auto;
            padding: 45px 40px;
            margin-bottom: 120px;
        }
    }
}