/*------------------------------------------------------------
case page
------------------------------------------------------------*/

/*
------------------------------------------------------------*/

.p-case {
    //-----------------------------------------------
    .c-banner {
        margin-bottom: 50px;
        &__title {
            margin: 0 auto;
            p {
                padding-top: 100px;
            }
        }
    } 
    //------------------------------------------------------
    .l-container {
        padding-top: 40px;
        .c-gnavi {
            margin: 0 auto;
            padding: 80px 0px;
            li:nth-of-type(2) {
                margin: 0 40px;
            }
            a {
                padding: 20px 0px;
                padding: 22px;
            }
        }
        //-----------------------------------------------
        &--img {
            width: 10px;
            height: 8px;
            background-image: url(../img/case/icon102.png);
            overflow: hidden;
            float: right;
            position: relative;
            right: 75px;
            top: 4px;
        }
        //-----------------------------------------------
        &--btn1:hover,
        &--btn1:nth-of-type(1) {
            background: white;
        } 
        //------------------------------------------------------
        &--btn1:hover p,
        &--btn1:nth-of-type(1) p {
            color: #0291AA;
        } 
        //------------------------------------------------------
        &--btn1:hover &--img,
        &--btn1:nth-of-type(1) &--img {
            background-image: url(../img/case/icon101.png);
        } 
        //------------------------------------------------------
        &--btn1:nth-of-type(2) {
            margin: 0px 40px;
        }
    } 
    //------------------------------------------------------
    .c-title1--center {
        padding-bottom: 10px;
        margin-bottom: 60px;
    } 
    //------------------------------------------------------
    .c-title1--left {
        padding: 18px 0px 18px 18px;
        margin-bottom: 30px;
    } 
    //------------------------------------------------------
    .c-imgText2--imgText4 {
        padding-bottom: 80px;
        .c-imgText2__text {
            td,
            th {
                padding: 8px;
                padding-left: 20px;
            }
        } 
    }
}