/*------------------------------------------------------------
company page
------------------------------------------------------------*/

/*
------------------------------------------------------------*/

.p-company {
    //-----------------------------------------------
    .c-banner {
        margin-bottom: 50px;
        &__title {
            margin: 0 auto;
            p {
                padding-top: 100px;
            }
        }
    }
    //-----------------------------------------------
    p {
        font-size: 14px;
        line-height: 20px;
        @include breakdown2;
    } 
    //------------------------------------------------------
    .l-container {
        padding: 79px 0px;
    } 
    //------------------------------------------------------
    .c-table {
        th,
        td {
            padding: 8px;
            padding-left: 32px;
        }
        th {
            padding: 12px 0px;
        }
        &__leftSide {}
    } 
    //------------------------------------------------------
    .c-title1 {
        padding-top: 20px;
        @include breakdown;
    } 
    //------------------------------------------------------
    .c-title2 {
        padding-top: 20px;
        img {
            width: 235px;
            height: 50px;
            bottom: 0;
        }
    } 
    //------------------------------------------------------
    .c-list1 {
        &__card {
            margin-right: 28px;
            img {
                padding: 4px;
            }
            p {
                margin: 10px 0px;
            }
        }
        &__card:last-child {
            margin-right: 0px;
        } 
        &__model:last-child {
            padding-right: 0px;
        } 
    } 
    //------------------------------------------------------
    .c-maps {}
    &--bgcolor {
        background-color: #F7F7F7;
    }
}

/* ///////////////////////////End Content company.html ///////////////////////////////////// */