/*------------------------------------------------------------
contact page
------------------------------------------------------------*/

/*
------------------------------------------------------------*/

.p-contact {
    //-----------------------------------------------
    .c-banner {
        margin-bottom: 50px;
        &__title {
            margin: 0 auto;
            p {
                padding-top: 100px;
            }
        }
    }
    //-----------------------------------------------
    .l-container {
        padding: 80px 0px;
        margin-bottom: 50px;
    }
    //-----------------------------------------------
    p {
        text-align: left;
        line-height: 20px;
        @include breakdown;
        @include styleText(black, 14px);
    } 
    //------------------------------------------------------
    .c-table--table2 {
        //-----------------------------------------------
        td,th {
            padding-left: 0px;
            padding: 8px;
            input[type=radio] {
                margin-left: 0;
            }
            span {
                padding: 0px 5px;
            }
        }
        .c-table__leftSide {
            &--radio {
                padding-right: 50px;
            }
        } 
    }
}

.p-contact2 {
    .l-container {
        //-----------------------------------------------
        .c-btn--btn2 {
            padding: 0px;
            padding: 20px 0px;
            margin: auto;
            margin-bottom: 100px;
        } 
        //------------------------------------------------------
        .c-btn:before {
            position: absolute;
            content: "";
            border: solid #fff;
            border-width: 0 2px 2px 0;
            display: inline-block;
            padding: 2.5px;
            right: 23%;
            top: 49%;
            transform: rotate(-45deg) translateY(-50%);
        }
    }
}

/* ///////////////////////////End Content contact.html ///////////////////////////////////// */