/*------------------------------------------------------------
index page
------------------------------------------------------------*/


/*
------------------------------------------------------------*/

.sample {
    transform: scale(1);
    background-size: cover;
    -webkit-background-size: cover;
    display: flex;
}
//------------------------------------------------------
.p-index {
    //-----------------------------------------------
    .c-banner {
        &__title {
            p {
                padding-top: 80px;
            }
        }
    }
    //------------------------------------------------------
    .l-container {
        display: flex;
    }
    //-----------------------------------------------
    .c-news {
        padding: 40px 0px;
        margin: 100px 0px;
        &__left {
        }
        &__right {
            flex: 5;
            padding-left: 50px;
            a{
                margin-bottom: 30px;
            }
        }
    }
    //-----------------------------------------------
    .c-btnNews {
        padding: 10px 0px;
        margin-top: 20px;
        padding-left: 45px;
    }
    //-----------------------------------------------
    .c-imgtext1__img-sub{
        margin: 80px 0px;
    }
    //-----------------------------------------------
    .c-imgtext1 {
        padding: 80px 0px;
        &__text1 {
            padding-left: 10px;
            &--txt1 {
                padding-bottom: 10px;
                margin-bottom: 10px;
            }
        }
    }
    //-----------------------------------------------
    .c-text--text2 {
        padding-bottom: 60px;
    }
    //-----------------------------------------------
    .c-btn{
        padding: 15px 0px;
        margin: 0 auto;
    }
    //-----------------------------------------------
    .c-btn:before {
        position: absolute;
        content: "";
        border: solid #fff;
        border-width: 0 2px 2px 0;
        display: inline-block;
        padding: 2.5px;
        right: 28%;
        top: 49%;
        transform: rotate(-45deg) translateY(-50%);
    }
    //-----------------------------------------------
    .c-img1--colorbg {
        .c-imgtext1 {
            &__text1 {
                padding-left: 0px;
                padding-right: 10px;
            }
        }
    }
}

//------------------------------------------------------

/* /////////////////////////// End Content Index.html ///////////////////////////////////// */