/*------------------------------------------------------------
index page
------------------------------------------------------------*/


/*
------------------------------------------------------------*/

.p-news {
    overflow: hidden;
    //-----------------------------------------------
    .c-banner {
        margin-bottom: 50px;
        &__title {
            margin:0 auto;
            p {
                padding-top: 100px;
            }
        }
    } 
    //------------------------------------------------------
    .l-container {
        padding: 60px 0px;
        width: 1080px;
        margin: 0 auto;
    }
    //------------------------------------------------------
    .c-text {
        p {
            @include breakdown;
        }
    }
     //------------------------------------------------------
    .c-title1 {
        padding-bottom: 10px;
    }
     //------------------------------------------------------
    .c-title2 {
        margin: 15px 0px;
        margin-bottom: 20px;
    }
     //------------------------------------------------------
    .c-imgText2 {
        &__text {
            p {
                @include breakdown;
            }
        }
        &__image {}
    }
    //-----------------------------------------------
    &--bgcolor{
        background-color: #F7F7F7;
    }
}
/* ///////////////////////////End Content news.html ///////////////////////////////////// */