/*------------------------------------------------------------
recruit page
------------------------------------------------------------*/

/*
------------------------------------------------------------*/

.p-recruit {
    //-----------------------------------------------
    .c-imgText2__text {
        p {
            padding-bottom: 10px;
        }
    } 
    //-----------------------------------------------
    .c-banner {
        margin-bottom: 50px;
        &__title {
            margin: 0 auto;
            p {
                padding-top: 100px;
            }
        }
    } 
    //-----------------------------------------------
    .l-container {
        padding: 80px 0px;
    } 
    //------------------------------------------------------
    .c-title1--left1 {
        @include breakdown;
    } 
    //-----------------------------------------------
    .c-table {
        th,
        td {
            padding: 8px;
            padding-left: 32px;
        }
        th {
            padding: 12px 0px;
        }
    } 
    //-----------------------------------------------
    .c-img {
        padding: 30px 40px;
        img {
            padding-bottom: 15px;
        }
        .c-btn {
            padding: 0px;
            padding-top: 20px;
        }
    }
}

/* ///////////////////////////End Content recruit.html ///////////////////////////////////// */