.active::after {
    background: #CCCCCC;
    content: "";
    height: 4px;
    left: 0 !important;
    position: absolute;
    top: 37px;
    transition: all 0.2s ease-out 0s;
    width: 98% !important;
}