@mixin styleText($color, $font-size) {
    font-family: "Noto Sans Japanese";
    font-weight: 500;
    color: $color;
    font-size: $font-size;
}

@mixin styleText2($color, $font-size) {
    font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif;
    font-weight: 500;
    color: $color;
    font-size: $font-size;
}
@mixin styleText3($color, $font-size) {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    color: $color;
    font-size: $font-size;
}